<div >
  
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-6"></div>
  <div class="col-sm-2">
    <button type="button" class="btn backBtn pull-right" (click)="backToInventory();">Back</button>
  </div>
  <div class="clear"></div>
</div>
<div class="physical-inventory">
  <div class="container">
    <h2>Upload Physical Inventory</h2>
    <br>
    <h4>
      This Screen was designed for completing a full stock check at an entire location.Do not use this feature unless you are physically
      scanning every inventory item at your location.
    </h4>
    <h4>
      If you are not completing a full stock check,please use Inventory ticket,Inventory on hand,or Manager products screen to
      entire inventory
    </h4>
    <hr>
    
  </div>
</div>
<div class="col-sm-6">
<div class="card">
  <div class="card-header">
    <label for="input" class="col-md-2 control-label">Location:</label>
        <div class="col-md-10">
          <select class="form-control">
            <option value="" selected="">Select</option>
            <option value="">TrendzBeauty Group LLC</option>
            <option value="">Trendz Beauty other products</option>
            <option value="">Trendz Beauty Supply</option>
          </select>
        </div>
        
        <span>Plaease upload inventory data here:</span>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    <br> <br>
    <a href="#" class="btn btn-primary">Upload</a>
  </div>
  
  
</div>
</div>
<div class="clear"></div>
