
<div >
  
</div>
<div class="close-out-date">
  <div class="close-out-date1">
        <div>
         <div class="col-md-6">
              <div class="form-group">
                      <label for="input" class="col-md-4 control-label">Location</label>
                      <div class="col-md-8">
                              <select class="form-control" id="exampleFormControlSelect1">
                                      <option>SBB Culver city</option>
                                                                                  
                                    </select>
                      </div>
                      <div class="clear"></div>
              </div>
			  <div class="clear"></div>
         </div>
         <div class="col-md-6">
              <div class="form-group">
                      <label for="input" class="col-md-4 control-label">Closed by</label>
                      <div class="col-md-8">
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                      </div>
                      <div class="clear"></div>
              </div>
			  <div class="clear"></div>
         </div>
		 <div class="clear"></div>
		 </div>
         <div class="col-md-6">
              <div class="form-group">
                      <label for="input" class="col-md-4 control-label">Last closed date</label>
                      <div class="col-md-8">
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                      </div>
                      <div class="clear"></div>
              </div>
         </div>
         <div class="col-md-6">
              <div class="form-group">
                      <label for="input" class="col-md-4 control-label">Closed date</label>
                      <div class="col-md-8">
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                      </div>
                      <div class="clear"></div>
              </div>
         </div>
         <div class="col-md-12">
              <button type="button" class="btn btn-primary pull-right">Preview close Amount</button>
         </div>
         
  <div class="clear"></div>
  </div>
  <div class="close-out-date2">
      <div class="col-md-3">
              <div class="form-group">
                      <label for="input" class="col-md-6 control-label">Pennies: $</label>
                      <div class="col-md-6">
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                      </div>
                      <div class="clear"></div>
              </div>
              <div class="form-group">
                      <label for="input" class="col-md-6 control-label">Nickels: $</label>
                      <div class="col-md-6">
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                      </div>
                      <div class="clear"></div>
              </div>
              <div class="form-group">
                      <label for="input" class="col-md-6 control-label">Dimes: $</label>
                      <div class="col-md-6">
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                      </div>
                      <div class="clear"></div>
              </div>
      </div>

      <div class="col-md-3">
              <div class="form-group">
                      <label for="input" class="col-md-6 control-label">Quarters: $</label>
                      <div class="col-md-6">
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                      </div>
                      <div class="clear"></div>
              </div>
              <div class="form-group">
                      <label for="input" class="col-md-6 control-label">Half dollars: $</label>
                      <div class="col-md-6">
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                      </div>
                      <div class="clear"></div>
              </div>
              <div class="form-group">
                      <label for="input" class="col-md-6 control-label">Ones: $</label>
                      <div class="col-md-6">
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                      </div>
                      <div class="clear"></div>
              </div>
      </div>

      <div class="col-md-3">
              <div class="form-group">
                      <label for="input" class="col-md-6 control-label">Fives: $</label>
                      <div class="col-md-6">
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                      </div>
                      <div class="clear"></div>
              </div>
              <div class="form-group">
                      <label for="input" class="col-md-6 control-label">Tens: $</label>
                      <div class="col-md-6">
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                      </div>
                      <div class="clear"></div>
              </div>
              <div class="form-group">
                      <label for="input" class="col-md-6 control-label">Twenties: $</label>
                      <div class="col-md-6">
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                      </div>
                      <div class="clear"></div>
              </div>
      </div>

      <div class="col-md-3">
              <div class="form-group">
                      <label for="input" class="col-md-6 control-label">Fitties: $</label>
                      <div class="col-md-6">
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                      </div>
                      <div class="clear"></div>
              </div>
              <div class="form-group">
                      <label for="input" class="col-md-6 control-label">Hundreds: $</label>
                      <div class="col-md-6">
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                      </div>
                      <div class="clear"></div>
              </div>
              <div class="form-group">
                      <label for="input" class="col-md-6 control-label">Others: $</label>
                      <div class="col-md-6">
                              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                      </div>
                      <div class="clear"></div>
              </div>
      </div>
      <div class="clear"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-6"></div>
  <div class="col-sm-2">
    <button type="button" class="btn backBtn pull-right" (click)="backToSetup()">Back</button>
  </div>
  <div class="clear"></div>
</div>  

