<div class="tabs-services">
  <app-header></app-header>
</div>
<div class="general-settings">
  <div class="add-relations">
  <h4>Add a New product size</h4>
  <table width="100%">
    <tr>
      <th  width="30%">Name</th>
      <th width="30%">Active</th>
      <th width="30%">Sort Order</th>
    </tr>
    <tr>
      <td><input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;"></td>
      <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
      <td><input type="text" class="form-control" id="exampleFormControlInput1" style="width: 30%;"></td>
    </tr>
  </table>
  <div class="col-md-12"><button type="submit" class="btn btn-primary" style="float: right;margin-top: 8px;margin-bottom: 10px;">Add a New Product size</button></div>
  &nbsp;
  &nbsp;
  <table width="100%">
    <tr>
      <th  width="30%">Sizes</th>
      <th width="30%">Active</th>
      <th width="30%">Sort Order</th>
    </tr>
    
    <tr>
      <td><input type="text" class="form-control" id="exampleFormControlInput1"  value="None" style="width: 30%;"></td>
      <td><input type="checkbox" class="form-check-input"  id="exampleCheck1" ></td>
      <td><input type="text" class="form-control" name="text" value="0" id="exampleFormControlInput1" style="width: 30%;"></td>
    </tr>
    <tr>
      <td><input type="text" class="form-control" id="exampleFormControlInput1"  value="One Size" style="width: 30%;"></td>
      <td><input type="checkbox" class="form-check-input"  id="exampleCheck1" ></td>
      <td><input type="text" class="form-control" name="text" value="5" id="exampleFormControlInput1" style="width: 30%;"></td>
    </tr>
    <tr>
      <td><input type="text" class="form-control" id="exampleFormControlInput1"  value="Extra Small" style="width: 30%;"></td>
      <td><input type="checkbox" class="form-check-input"  id="exampleCheck1" ></td>
      <td><input type="text" class="form-control" name="text" value="10" id="exampleFormControlInput1" style="width: 30%;"></td>
    </tr>
    <tr>
      <td><input type="text" class="form-control" id="exampleFormControlInput1"  value="Small" style="width: 30%;"></td>
      <td><input type="checkbox" class="form-check-input"  id="exampleCheck1" ></td>
      <td><input type="text" class="form-control" name="text" value="15" id="exampleFormControlInput1" style="width: 30%;"></td>
    </tr>
    <tr>
      <td><input type="text" class="form-control" id="exampleFormControlInput1"  value="Medium" style="width: 30%;"></td>
      <td><input type="checkbox" class="form-check-input"  id="exampleCheck1" ></td>
      <td><input type="text" class="form-control" name="text" value="20" id="exampleFormControlInput1" style="width: 30%;"></td>
    </tr>
    <tr>
      <td><input type="text" class="form-control" id="exampleFormControlInput1"  value="Large" style="width: 30%;"></td>
      <td><input type="checkbox" class="form-check-input"  id="exampleCheck1" ></td>
      <td><input type="text" class="form-control" name="text" value="25" id="exampleFormControlInput1" style="width: 30%;"></td>
    </tr>
    <tr>
      <td><input type="text" class="form-control" id="exampleFormControlInput1"  value="Extra Large" style="width: 30%;"></td>
      <td><input type="checkbox" class="form-check-input"  id="exampleCheck1" ></td>
      <td><input type="text" class="form-control" name="text" value="30" id="exampleFormControlInput1" style="width: 30%;"></td>
    </tr>
    

  </table>
  <div class="col-md-12"><button type="submit" class="btn btn-primary" style="float: right;margin-top: 8px;margin-bottom: 10px;">Update Product sizes</button></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-6"></div>
  <div class="col-sm-2">
    <button type="button" class="btn backBtn pull-right" (click)="backToSetup()">Back</button>
  </div>
  <div class="clear"></div>
</div>  
<app-footer></app-footer>

