<div >
  
    </div>
    <div class="accountpayments">
        <div class="add-relations">
          <h4>Client Profile Custome Fields</h4>
          <table width="100%">
            <tr>
              <th>Index</th>
              <th>Value</th>
              <th>Active?</th>
            </tr>
            <tr>
              <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
              <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
              <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
            </tr>
            <tr>
              <td colspan="3"><button type="submit" class="btn btn-primary" style="float: right;">Add New index value
    </button></td>
            </tr>
          </table>
          
          <div class="relation-table">
            <table width="100%">
              <tr>
                <th>Index</th>
                <th>Value</th>
                <th>Active</th>
                <th>Delete</th>
              </tr>
              <tr>
                <td>Allergies?</td>
                <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;" placeholder="No"></td>
                <td> <input type="checkbox" class="form-check-input" id="exampleCheck1" checked></td>
                <td>[<b><a href="#">Delete</a></b>]</td>
              </tr>
              <tr>
                <td>Allergies?</td>
                <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;" placeholder="Yes"></td>
                <td> <input type="checkbox" class="form-check-input" id="exampleCheck1" checked></td>
                <td>[<b><a href="#">Delete</a></b>]</td>
              </tr>
              <tr>
                <td>Autopay method converted by script</td>
                <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;" placeholder="Yes"></td>
                <td> <input type="checkbox" class="form-check-input" id="exampleCheck1" checked></td>
                <td>[<b><a href="#">Delete</a></b>]</td>
              </tr>
              <tr>
                <td>Autopay method converted by script</td>
                <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;" placeholder="Yes"></td>
                <td> <input type="checkbox" class="form-check-input" id="exampleCheck1" checked></td>
                <td>[<b><a href="#">Delete</a></b>]</td>
              </tr>
              
              
              
              
            </table>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-6"></div>
      <div class="col-sm-2">
        <button type="button" class="btn backBtn pull-right" (click)="backToSetup()">Back</button>
      </div>
      <div class="clear"></div>
    </div>  