<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item _sale" id="__sale">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#sales" role="tab" aria-controls="sales" (click)="redirectToDashbaord()"
      aria-selected="true">Sales</a>
  </li>
  <li class="nav-item _appt" id="__appt">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#appointments" role="tab" aria-controls="appointments" (click)="redirectToAppointment()"
      aria-selected="false">Appointments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#time" role="tab" aria-controls="time" aria-selected="false"
      (click)="redirectToTimeClocks()">Time clocks</a>
  </li>
  <li class="nav-item" id="__schedule">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#schedule" role="tab" aria-controls="schedule" aria-selected="false"
      (click)="redirectToSchedule()">Schedule</a>
  </li>
  <li class="nav-item" id="__reports">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#reports" role="tab" aria-controls="reports" aria-selected="false"
      (click)=" redirectToReport()">Reports</a>
  </li>
  <li class="nav-item" id="__manager">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#manager" role="tab" aria-controls="manager" (click)="redirectToManager()"
      aria-selected="false">Manager</a>
  </li>
  <li class="nav-item" id="__inventory">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#inventory" role="tab" aria-controls="inventory" aria-selected="false"
      (click)="redirectToInventory()">Inventory</a>
  </li>
  <li class="nav-item" id="__setup">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#setup" role="tab" aria-controls="setup" aria-selected="false"
      (click)="redirectToSetup()">Setup</a>
  </li>
</ul>
<div class="modal fade" id="allInfo">
  <div class="modal-dialog">
    <div class="login-form">
      <div class="login_form">
        <form>
          <div class="form-group">
            <div class="col-md-4 col-sm-6 login_form-left">
              <label>Employee Id</label>
            </div>
            <div class="col-md-8 col-sm-6 login_form-right">
              <input type="text" class="form-control" [(ngModel)]="mailId" name="some" placeholder="Employee Id">
            </div>
            <div class="clear"></div>
          </div>
          <div class="form-group">
            <div class="col-md-4 login_form-left">
              <label>Employee Password</label>
            </div>
            <div class="col-md-8 col-sm-6 login_form-right">
              <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Employee Password">
              <div *ngFor="let alert of alerts">
                <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
                  <strong>{{ alert.msg }}</strong>
                </alert>
              </div>
            </div>

            <div class="clear"></div>
          </div>
          <div class="login_form-submit">
            <button type="submit" (click)="loginSubmite()" class="btn btn-primary submit-button">Sign In</button>
          </div>

          <div class="sign_form">
            <div class="col-md-3 col-md-offset-3 sign_form-left">
              <a>Sign Up?</a>
            </div>
            <div class="col-md-6 col-sm-6 sign_form-right">
              <a>Cancel</a>
            </div>
            <div class="clear"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>