<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="home-tab" data-toggle="tab" href="#sales" role="tab" aria-controls="sales" (click)="redirectToDashbaord()" aria-selected="true">Sales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#appointments" role="tab" aria-controls="appointments" aria-selected="false" routerLink='/appointments'>Appointments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#time" role="tab" aria-controls="time" aria-selected="false" routerLink='/time-clocks'>Time clocks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#schedule" role="tab" aria-controls="schedule" aria-selected="false" routerLink = '/schedule'>Schedule</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#reports" role="tab" aria-controls="reports" aria-selected="false" routerLink='/reports'>Reports</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#manager" role="tab" aria-controls="manager" routerLink='/management'
      aria-selected="false">Manager</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#inventory" role="tab" aria-controls="inventory" aria-selected="false" routerLink='/inventory'>Inventory</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#setup" role="tab" aria-controls="setup" aria-selected="false" routerLink='/setup'>Setup</a>
  </li>
</ul>