<div class="tabs-services">
  <app-header></app-header>


<div class="ms-set-1-1">
  <div class="col-sm-12"><button type="button" class="btn backBtn pull-right" (click)="backToMembership();">Back</button></div>


	<div class="ms-set-11">
			<div class="col-md-8 col-sm-8 ms-set-1-left"><h3 style="font-weight:600;">Gift Cards</h3></div>
			<div class="col-md-4 col-sm-4 ms-set-1-right1 pull-right">
			<div  class="dropdown pull-right col-md-12">
									<button  aria-expanded="true" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" type="button"> Tools <span _ngcontent-c7="" class="caret"></span></button>
									<ul aria-labelledby="dropdownMenu1" class="dropdown-menu menu-tools" id="menu-tools">
									<li><a data-page="gift-cards" href="#">Assignable gift cards</a></li>
									<li><a data-page="card-options" href="#">Online-gift card options</a></li>
									</ul>
									</div>
					<br>
					<br>
			<button class="btn"><i class="fas fa-plus"></i>&nbsp;&nbsp; Add New</button></div>
			<div class="clear"></div>
		<h4>Attract newcomers by selling up gift cards to sell online or in person.Your cards have a set price,<br> like $75 or $100, or a customizable price,
		whick lets customers decide how much to put on the card</h4>
		<div class="clear"></div>
	</div>
	<div class="ms-set-12">
		<table width="100%">
			<tr>
				<th width="40%">Gift Card Name</th>
				<th width="20%">Value</th>
				<th width="20%">Price</th>
				<th width="20%">Sold Online</th>
			</tr>
			<tr>
				<td>35$ Gift card ( 1 time extra service free )</td>
				<td>$35</td>
				<td>$35</td>
				<td></td>
			</tr>
			<tr>
				<td>Gift card (Custome Amount)</td>
				<td>$35</td>
				<td>$35</td>
				<td><i class="fas fa-check"></i></td>
			</tr>
		</table>
		<div class="clear"></div>
	</div>
	
	
	<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title1">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          View Inactive gift cards
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
       <table width="100%">
			<tr>
				<td>$30 Gift card for $25</td>
				<td><a href="#" class="btn1">Action</a></td>
			</tr>
			<tr>
				<td>$50.00 Gift Card for $40.00</td>
				<td><a href="#" class="btn1">Action</a></td>
			</tr>
			<tr>
				<td>$90 gift card for $70</td>
				<td><a href="#" class="btn1">Action</a></td>
			</tr>
			<tr>
				<td>122.41 Gift card for 0</td>
				<td><a href="#" class="btn1">Action</a></td>
			</tr>
			<tr>
				<td>139.91 Gift card</td>
				<td><a href="#" class="btn1">Action</a></td>
			</tr>
			<tr>
				<td>17.49 Gift card for 0</td>
				<td><a href="#" class="btn1">Action</a></td>
			</tr>
	   </table>
      </div>
    </div>
  </div>

	
	
</div>
</div><!--main div-->

<app-footer></app-footer>