<div class="tabs-services">
  <app-header></app-header>
</div>
<div class="accountpayments">
    <div class="add-relations">
    <div class="pull-right" style=" margin-bottom: 20px;font-size: 18px;    margin-right: 10px;">
      <span><a href="#">Client Indexes</a></span>&nbsp;&nbsp;
      <span>Client Index Value</span>
      </div>
    <h3 class="h3">Client Indexes</h3>
      <h4>Add aNew Clientv Index</h4>
      
      <table width="100%">
        <tr>
          <th>Name</th>
          <th>Sort Order</th>
          <th>Active</th>
          <th>Show on Enrollment Roster</th>
          <th>Edit on Enrollment Roster</th>
          <th>Show on Add Client</th>
          <th>Show in consumer Mode</th>
          <th>Required in consumer mode</th>
          <th>Required in business mode</th>
        </tr>
        <tr>
          <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
          <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1" checked></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1" checked></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1" checked></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1" checked></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
        </tr>
        <tr>
        <td colspan="9"><button type="submit" class="btn btn-primary" style="float: right;">Add New index value
</button></td>
        </tr>
      </table>
      <br>
      <table width="100%">
        <tr>
          <th>Client Indexes</th>
          <th>Sort Order</th>
          <th>Active</th>
          <th>Show on Enrollment Roster</th>
          <th>Edit on Enrollment Roster</th>
          <th>Show on Add Client</th>
          <th>Show in consumer Mode</th>
          <th>Required in consumer mode</th>
          <th>Required in business mode</th>
        </tr>
        <tr>
          <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
          <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
        </tr>
        <tr>
          <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
          <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
        </tr>
        <tr>
          <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
          <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
        </tr>
        <tr>
          <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
          <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
        </tr>
        <tr>
          <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
          <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
        </tr>
        <tr>
          <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
          <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
        </tr>
        <tr>
        <td colspan="9"><button type="submit" class="btn btn-primary" style="float: right;">Update Client Indexes
</button></td>
        </tr>
      </table>
      <br>
      <br>
      
    </div>
  
  
    
  </div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-6"></div>
  <div class="col-sm-2">
    <button type="button" class="btn backBtn pull-right" (click)="backToSetup()">Back</button>
  </div>
  <div class="clear"></div>
</div>  
<app-footer></app-footer>




