<div >
	

	<div class="staff-edit padding-20">

		<div class="row">
			<div class="col-sm-6"></div>
			<div class="col-sm-6">
				<button type="button" class="btn backBtn pull-right" (click)="backToMembership();">Back</button>
			</div>
		</div>

		<div class="col-md-6">
			<h3 class="margin0" style="font-weight:600;">Edit Schedule </h3>
		</div>
		<div class="col-md-6">
			<button type="button" class="btn btn-outline-success pull-right" data-toggle="modal" data-target="#add-newschedule">
				<h4 class="margin0">
					<i class="fas fa-plus-circle"></i> &nbsp; Add New schedule</h4>
			</button>
		</div>
		<div class="clear"></div>

		<div class="staff-table">
			<h4 class="margin0">Vimal Patel</h4>

			<table width="100%">
				<tr>
					<th width="10%">Day of Week</th>
					<th width="10%">Location</th>
					<th width="10%">Appointment Start Time</th>
					<th width="10%">Appointment End Time</th>
					<th width="10%">Service Categories</th>
					<th width="10%">Date Range</th>
				</tr>
				<tr>
					<td>Sunday</td>
					<td class="edit-schedule-d">
						<div class="col-md-3" style="position: relative;
    top: 6px;">
							<i class="fas fa-trash"></i> &nbsp;</div>
						<select class="form-contro col-md-9" id="staffSchFormControlSelect1">
							<option selected> SBB - Culver City </option>
							<option> SBB - Culver City Kiosk </option>
							<option> SBB - Century Mail </option>
							<option> SBB - Panoprama Mail </option>
							<option> SBBCA - Northridge (Kiosk) </option>
							<option> SBBCA - Northridge (inline) </option>
							<option> SBBCA - BUrbank Mall </option>
							<option> SBBCA - Fashion Square (inline) </option>
							<option> SBBCA - Fashion Square (Kiosk)</option>
						</select>
					</td>
					<td class="edit-schedule-d">
						<select class="form-control" id="staffSchFormControlSelect2">
							<option selected="">12 PM</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</td>
					<td class="edit-schedule-d">
						<select class="form-control" id="staffSchFormControlSelect3">
							<option selected="">06 PM</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</td>
					<td class="edit-schedule-d">
						<select class="form-control" id="staffSchFormControlSelect4">
							<option selected> Free Makeup Service </option>
							<option>Free Mini Make Over </option>
							<option> Learn TO Glam Session </option>
							<option> Makeup Services </option>
						</select>
					</td>
					<td class="edit-schedule-d">
						<input type="date" name="" value="" class="col-md-6 form-contro">
						<input type="date" name="" value="" class="col-md-6 form-contro">
					</td>
				</tr>
				<tr>
					<td>Monday</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Tuesday</td>
					<td>SBBCA - F...</td>
					<td>4 PM</td>
					<td>9:15 PM </td>
					<td>1 Service</td>
					<td>07/10/2017 to 07/15/2018</td>
				</tr>
				<tr>
					<td>Wednesday</td>
					<td>SBBCA - F...</td>
					<td>12 PM</td>
					<td>8 PM </td>
					<td>1 Service</td>
					<td>06/19/2017 to 07/15/2018</td>
				</tr>
				<tr>
					<td>Thursday</td>
					<td>SBBCA - F...</td>
					<td>12 PM</td>
					<td>8 PM </td>
					<td>1 Service</td>
					<td>07/10/2017 to 07/15/2018</td>
				</tr>
				<tr>
					<td>Friday</td>
					<td>SBBCA - F...</td>
					<td>12 PM</td>
					<td>8 PM </td>
					<td>1 Service</td>
					<td>07/10/2017 to 07/15/2018</td>
				</tr>
				<tr>
					<td>Monday</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<br>
			<button type="button" class="btn btn-dark pull-right">
				<h3 class="margin0">Done</h3>
			</button>
			<div class="clear"></div>
		</div>
	</div>
</div>

<div class="modal fade" id="add-newschedule">
	<div class="modal-dialog">
		<div class="visit">
			<div class="customer-info">
				<h2>Add schedule</h2>
			</div>
			<div class="col-sm-12" style="border:1px solid gray;">
				<h3>Vimal patel</h3>
			</div>
			<div class="row">
				<div class="col-sm-6" style="padding-left:50px;">* Required field</div>
				<div class="col-sm-6"></div>
			</div>
			<div class="row">
				<div class="col-sm-3" style="padding-left:50px;">
					What
				</div>
				<div class="col-sm-9">
					<div class="row">
						<div class="col-sm-4">
							Show Staff as
						</div>
						<div class="col-sm-8" style="padding-right:100px;">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="exampleRadios" id="staffSchRadios1" value="option1" checked>
								<label class="form-check-label" for="exampleRadios1">
									Available
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="exampleRadios" id="staffSchRadios2" value="option2">
								<label class="form-check-label" for="exampleRadios2">
									Unavilable
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<button type="submit" style="float:right;" data-dismiss="modal" class="btn btn-primary">Cancle</button>
			<button type="submit" style="float:right;" data-dismiss="modal" class="btn btn-success">Add</button>
			<button type="submit" style="float:right;" data-dismiss="modal" class="btn btn-success">Save and Add Next</button>
			<div class="clear"></div>
		</div>

	</div>
</div>
