.edit-schedule-d {
    background: #ccc;
}
.staff-table h4 {
    background: #ccc;
    padding: 7px 13px;
    margin: -10px -10px 15px -10px;
}
.staff-table {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}