<div class="tabs-services">
  <app-header></app-header>
</div>
<div class="accountpayments">
    <div class="add-relations">
      <h3 class="h3">Client Types</h3>
      <h4>Add a New Client Type</h4>
    </div>
    
    <table width="100%">
      <tr>
        <th width="50%">Name</th>
        <th width="50%">Active</th>
      </tr>
      <tr>
        <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
        <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
      </tr>
      <tr>
        <td colspan="2"><button type="submit" class="btn btn-primary" style="float: right;">Add New Client Type</button></td>
      </tr>
    </table>
    <br>
    <table width="100%">
      <tr>
        <th>Client Type</th>
        <th>Active</th>
        <th></th>
      </tr>
      <tr>
        <td width="25%"><input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
        <td width="20%"><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
        <td width="65%"><span class="pull-right"><a href="#">[Delete]</a></span></td>
      </tr>
      <tr>
        <td width="25%"><input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
        <td width="20%"><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
        <td width="65%"><span class="pull-right"><a href="#">[Delete]</a></span></td>
      </tr>
      <tr>
        <td width="25%"><input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
        <td width="20%"><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
        <td width="65%"><span class="pull-right"><a href="#">[Delete]</a></span></td>
      </tr>
      <tr>
        <td width="25%"><input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
        <td width="20%"><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
        <td width="65%"><span class="pull-right"><a href="#">[Delete]</a></span></td>
      </tr>
      <tr>
      <td colspan="3"><button type="submit" class="btn btn-primary" style="float: right;">Update 
</button></td>
      </tr>
    </table>
  
  </div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-6"></div>
  <div class="col-sm-2">
    <button type="button" class="btn backBtn pull-right" (click)="backToSetup()">Back</button>
  </div>
  <div class="clear"></div>
</div>  
<app-footer></app-footer>
