<div >
  
</div>
<div class="accountpayments">
    <div class="card-reader">
      <h3>Card Reader Setup</h3>
      <h4>Press F5 to refresh screen after save settings</h4>
      <button type="button" class="btn btn-custom">Save</button>
      <button type="button" class="btn btn-custom">Test Communication</button>
    <div class="clear">	</div>
    </div>
    <div class="card-swipe-devices">
    <h4>Card Swipe Device</h4>
    <div class="btn pull-right" style="background: #ccc;margin-right: 7px;"><i class="fa fa-arrow-up" aria-hidden="true"></i></div>
    <div>
      <button type="button" class="btn btn-custom2">None</button>
      <button type="button" class="btn btn-custom2">Meg Tech</button>
      <button type="button" class="btn btn-custom2 active">ID Tech Secure<br> reader</button>
      <button type="button" class="btn btn-custom2">ID Tech Secure<br> reader w/pin pad</button>
      <button type="button" class="btn btn-custom2">VerPane Mx870</button>
      <button type="button" class="btn btn-custom2">VerPane Mx830</button>
      <button type="button" class="btn btn-custom2">Other</button>
    </div>
    <div class="btn pull-right" style="background: #ccc;margin-right: 7px;    margin-bottom: 20px;"><i class="fa fa-arrow-down" aria-hidden="true"></i>
    <div class="clear"></div>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-add-c">Done<br><i class="fa fa-check" aria-hidden="true"></i></button>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    </div>

    <div class="clear"></div>
  </div>
  
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-6"></div>
  <div class="col-sm-2">
    <button type="button" class="btn backBtn pull-right" (click)="backToSetup()">Back</button>
  </div>
  <div class="clear"></div>
</div>  





