@import '~dhtmlx-scheduler/codebase/dhtmlxscheduler.css';

:host{
  display: block;
  height: 30%;
  position: relative;
  width: 30%;
}
.registerGrowl.ui-growl {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  }
  .searchParameters{
    height: 200px;
    background-color: aquamarine;
    overflow: scroll;
  }
  .search-list{
    display:inline-block;
    background-color:antiquewhite;
    width:100px;
    height:70px;
    margin:10px;
}
.search-list:hover{
    cursor: pointer;
}
.alertMessage{
  color: red;
  text-align: center;
}
.dhx_cal_event .dhx_cal_select_menu {
  display: none;
}