<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <h3>View Appointments</h3>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="input" class="col-md-3 control-label">Locations</label>
          <div class="col-md-9">
            <select name="shedule.branchid" class="form-control" (ngModelChange)="setBranch($event)" [(ngModel)]="shedule.branch_id">
              <option *ngFor="let data1 of this.branchesData" [ngValue]="data1.branch_id">{{data1.branch_name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="input" class="col-md-3 control-label">Categories</label>
          <div class="col-md-9">
            <select name="shedule.services" class="form-control" (ngModelChange)="setCatId($event)" [(ngModel)]="shedule.categorysData">
              <option *ngFor="let data2 of this.categorysData" [ngValue]="data2.category_name">{{data2.category_name}}</option>
            </select>
            <!-- <select name="shedule.branchid" class="form-control" (ngModelChange)="setBranch($event)" [(ngModel)]="shedule.branch_idv">
                <option *ngFor="let data1 of this.locationData" [ngValue]="data1.branch_id">{{data1.branch_name}}</option>
              </select> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="input" class="col-md-3 control-label">Staff</label>
          <div class="col-md-9">
            <select name="shedule.emp_id" class="form-control" (ngModelChange)="setStaffId($event)" [(ngModel)]="shedule.employee_id">
              <option *ngFor="let data3 of this.empData" [ngValue]="data3.emp_id">{{data3.employee_firstname}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <button [disabled]="createAppointmentBtn1" class="btn btn-primary submit-button" (click)="viewNewAppiontment()">Create
          New Appointment</button>
      </div>
      <div *ngIf="createNew">
        <div class="row">
          <div class="form-group">
            <label for="input" class="col-md-5 control-label">Customer Name</label>
            <div class="col-md-7">
              <div class="input-group">
                <input class="form-control" [(ngModel)]="searchValue" (ngModelChange)='customerSearch($event)' />
                <!-- <input [(ngModel)]="searchValue" [typeahead]="this.users" (ngModelChange)='customerSearch($event)' [typeaheadMinLength]="2"
          typeaheadOptionField="name" (typeaheadOnSelect)="onSelect($event)" class="form-control"> -->
              </div>
            </div>
          </div>
        </div>
        <div class="row searchParameters" *ngIf="searchCondition">
          <li class="search-list" *ngFor="let item of this.users " (click)="onSelect(item)">
            <span>{{item.name}}</span>
          </li>
        </div>
        <div class="row" *ngIf="noRecordsFound">
          <div class="row">
            <h3 class="alertMessage">No Records Found</h3>
          </div>
          <button class="btn btn-primary submit-button" data-toggle="modal" data-target="#addCustomerModelPopup"
            (click)="createNewCustomer();">Add New Customer</button>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="input" class="col-md-5 control-label">Start Date</label>
            <div class="col-md-7">
              <div class="input-group">
                <p-calendar [(ngModel)]="date1" [(ngModel)]="shedule.startdate" name="shedule.startdate" [showTime]="true"
                  [showIcon]="true" (ngModelChange)="getStartDate($event);createAppiontmentBtnDisable($event)"
                  dateFormat="yy-mm-dd"></p-calendar>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="input" class="col-md-5 control-label">End Date</label>
            <div class="col-md-7">
              <div class="input-group">
                <p-calendar [(ngModel)]="date2" [(ngModel)]="shedule.enddate" name="shedule.enddate" [showTime]="true"
                  [showIcon]="true" (ngModelChange)="getEndDate($event);createAppiontmentBtnDisable($event)" dateFormat="yy-mm-dd"></p-calendar>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="input" class="col-md-3 control-label">Description</label>
            <div class="col-md-9">
              <input type="text" maxlength="50" class="form-control" [(ngModel)]="appointments.text" />
            </div>
          </div>
        </div>
        <div class="row">
          <button [disabled]="createAppointmentBtn2" class="btn btn-primary submit-button" (click)="createAppointment();showSuccess();">Create</button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <p-growl [(value)]="msgs" styleClass="registerGrowl"></p-growl>
      <div #scheduler_here class="dhx_cal_container" style="width: 100%; height:100vh;margin-left: 7%">
        <div class="dhx_cal_navline">
          <div class="dhx_cal_prev_button">&nbsp;</div>
          <div class="dhx_cal_next_button">&nbsp;</div>
          <div class="dhx_cal_today_button"></div>
          <div class="dhx_cal_date"></div>
          <div class="dhx_cal_tab" name="day_tab"></div>
          <div class="dhx_cal_tab" name="week_tab"></div>
          <div class="dhx_cal_tab" name="month_tab"></div>
        </div>
        <div class="dhx_cal_header"></div>
        <div class="dhx_cal_data" id="customScroll"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addCustomerModelPopup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="customer-info">
        <h2>Add New Customer</h2>
      </div>
      <div class="modal-body">
        <div class="add-client">
          <div class="client-form">
            <div class="check-box-client">
              <div class="form-check">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label">Swipe ID to store Address</label>
              </div>
            </div>
            <div class=" col-md-6 col-sm-6 col-xs-12 client-form-left container" novalidate>
              <form>
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" maxlength="50" name="fname" class="form-control" [(ngModel)]="firstName" ngModel
                    required #fname="ngModel" placeholder="First Name">
                  <div *ngIf="fname.errors?.required && submitted" style="color:red">First Name is required </div>
                </div>
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" maxlength="50" class="form-control" name="lname" [(ngModel)]="lastName" ngModel
                    required #lname="ngModel" placeholder="Last Name">
                  <div *ngIf="lname.errors?.required && submitted" style="color:red">Last Name is required </div>
                </div>
                <div class="form-group">
                  <label>Birthday</label>
                  <input type="date" class="form-control" name="DOB" [(ngModel)]="DOB" required placeholder="Birthday">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect2">Gender</label>
                  <select [(ngModel)]="gender" name="firstName" class="form-control">
                    <option value="" disabled selected>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Phone</label>
                  <input type="text" maxlength="50" class="form-control" [(ngModel)]="mobileNo" name="mobile"
                    placeholder="Home or Mobile" ngModel required #mobile="ngModel">
                  <div *ngIf="mobile.errors?.required && submitted" style="color:red">Phone Number is required </div>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" [(ngModel)]="MailId" name="Mail" class="form-control" placeholder="name@example.com"
                    ngmodel required #Mail="ngModel">
                  <div *ngIf="Mail.errors?.required && submitted" style="color:red">Email is required </div>
                </div>
                <div class="form-group">
                  <label>Address</label>
                  <textarea class="form-control" rows="3"></textarea>
                </div>
              </form>
            </div>
            <!----------------Form left side end---------------------------->
            <div class="col-md-6 col-sm-6 col-xs-12 client-form-right">
              <form>
                <div class="form-group">
                  <label>Country</label>
                  <select class="form-control">
                    <option>Select Country</option>
                    <option>Afghanistan</option>
                    <option>Albania</option>
                    <option>Algeria</option>
                    <option>Andorra</option>
                    <option>Angola</option>
                    <option>Anguilla</option>
                    <option>Antigua & Barbuda</option>
                    <option>Argentina</option>
                    <option>Armenia</option>
                    <option>Australia</option>
                    <option>Austria</option>
                    <option>Azerbaijan</option>
                    <option>Bahamas</option>
                    <option>Bahrain</option>
                    <option>Bangladesh</option>
                    <option>Barbados</option>
                    <option>Belarus</option>
                    <option>Belgium</option>
                    <option>Belize</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>State</label>
                  <select class="form-control">
                    <option>Select State</option>
                    <option>Afghanistan</option>
                    <option>Albania</option>
                    <option>Algeria</option>
                    <option>Andorra</option>
                    <option>Angola</option>
                    <option>Anguilla</option>
                    <option>Antigua & Barbuda</option>
                    <option>Argentina</option>
                    <option>Armenia</option>
                    <option>Australia</option>
                    <option>Austria</option>
                    <option>Azerbaijan</option>
                    <option>Bahamas</option>
                    <option>Bahrain</option>
                    <option>Bangladesh</option>
                    <option>Barbados</option>
                    <option>Belarus</option>
                    <option>Belgium</option>
                    <option>Belize</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>City</label>
                  <select class="form-control">
                    <option>Select State</option>
                    <option>Afghanistan</option>
                    <option>Albania</option>
                    <option>Algeria</option>
                    <option>Andorra</option>
                    <option>Angola</option>
                    <option>Anguilla</option>
                    <option>Antigua & Barbuda</option>
                    <option>Argentina</option>
                    <option>Armenia</option>
                    <option>Australia</option>
                    <option>Austria</option>
                    <option>Azerbaijan</option>
                    <option>Bahamas</option>
                    <option>Bahrain</option>
                    <option>Bangladesh</option>
                    <option>Barbados</option>
                    <option>Belarus</option>
                    <option>Belgium</option>
                    <option>Belize</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Postal Code</label>
                  <input type="text" maxlength="50" class="form-control" placeholder="enter your Postal Code">
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" checked>
                  <label class="form-check-label">Subscribe to email notification</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" checked>
                  <label class="form-check-label">Subscribe to our promotions</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input">
                  <label class="form-check-label">Prefers not to provide email</label>
                </div>
              </form>
              <div class="new-customer-footer">
                <div class="col-md-4 col-sm-6 col-xs-12 ncf-left">
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Membership Card No</label>
                    <input type="text" maxlength="50" class="form-control" placeholder="enter Membership Card No">
                  </div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12 ncf-right">
                  <ul>
                    <li>
                      <a data-dismiss="modal">
                        <i class="fas fa-times"></i>
                        <br>Cancel</a>
                    </li>
                    <li (click)="saveCustomer();showSuccessForCustomer();">
                      <a data-dismiss="modal">
                        <i class="fas fa-check"></i>
                        <br>Save</a>
                    </li>
                    <li>
                      <a>
                        <i class="fas fa-save"></i>
                        <br>Save & Use</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!----------------Form right side end---------------------------->
            <div class="clear"></div>
          </div>
          <!--Client Profile-->
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#f5c585" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>