<div class="tabs-services">
  <app-header></app-header>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <h3>View Appointments</h3>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="input" class="col-md-3 control-label">Locations</label>
          <div class="col-md-9">
            <select name="shedule.branchid" class="form-control" (ngModelChange)="setBranch($event)" [(ngModel)]="shedule.branch_id">
              <option *ngFor="let data1 of this.branchesData" [ngValue]="data1.branch_id">{{data1.branch_name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="form-group">
            <label for="input" class="col-md-3 control-label">Categories</label>
            <div class="col-md-9">
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option></select>
              <!-- <select name="shedule.branchid" class="form-control" (ngModelChange)="setBranch($event)" [(ngModel)]="shedule.branch_idv">
                <option *ngFor="let data1 of this.locationData" [ngValue]="data1.branch_id">{{data1.branch_name}}</option>
              </select> -->
            </div>
          </div>
        </div>
      <div class="row">
        <div class="form-group">
          <label for="input" class="col-md-3 control-label">Staff</label>
          <div class="col-md-9">
            <select name="shedule.emp_id" class="form-control" (ngModelChange)="setStaffId($event)" [(ngModel)]="shedule.employee_id">
              <option *ngFor="let data1 of this.empData" [ngValue]="data1.employee_id">{{data1.employee_firstname}}</option>
            </select>
          </div>
        
        </div>
      </div>
    
      <div class="row">
        <button class="btn-primary" (click)="viewNewAppiontment()">Create New Appointment</button>
      </div>
      <div *ngIf="createNew">
     
      <div class="row">
          <div class="form-group">
            <label for="input" class="col-md-5 control-label">Customer Name</label>
        <div class="col-md-7">
            <div class="input-group">
                <input [(ngModel)]="model.user_id" [typeahead]="this.users" (ngModelChange)='customerSearch($event)' [typeaheadMinLength]="2"
          typeaheadOptionField="name" (typeaheadOnSelect)="onSelect($event)" class="form-control">
                <!-- <p-dropdown [options]="users" [(ngModel)]="appointments.user_id" [style]="{'width':'200px'}" ></p-dropdown> -->
              <!-- <p-dropdown  [options]="users" [(ngModel)]="appointments.user_id"  [style]="{'width':'150px'}"  (ngModelChange)='customerSearch($event)' [filter]="true" ></p-dropdown> -->
            </div>
          </div>
          </div>
        </div>
      <div class="row">
        <div class="form-group">
          <label for="input" class="col-md-5 control-label">Start Date</label>
          <div class="col-md-7">
            <div class="input-group">
              <p-calendar [(ngModel)]="date1" [(ngModel)]="shedule.startdate" name="shedule.startdate" [showTime]="true" [showIcon]="true" (ngModelChange)="getStartDate($event)"
              dateFormat="yy-mm-dd" ></p-calendar>
            </div>
          </div>
         
        </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label for="input" class="col-md-5 control-label">End Date</label>
        <div class="col-md-7">
          <div class="input-group">
            <p-calendar [(ngModel)]="date2" [(ngModel)]="shedule.enddate" name="shedule.enddate" [showTime]="true" [showIcon]="true" (ngModelChange)="getEndDate($event)"
              dateFormat="yy-mm-dd"></p-calendar>
          </div>
        </div>
       
      </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label for="input" class="col-md-3 control-label">Description</label>
      <div class="col-md-9">
        <input type="text" class="form-control" [(ngModel)]="appointments.text" />
      </div>
    
    </div>
  </div>
  <div class="row">
    <button class="btn-primary" (click)="createAppointment();showSuccess()">Create</button>

  </div>
  </div>
</div>
    <div class="col-sm-8">
        <p-growl [(value)]="msgs" styleClass="registerGrowl" ></p-growl>
        <div #scheduler_here class="dhx_cal_container" style="width: 100%; height:100vh">
            <div class="dhx_cal_navline">
              <div class="dhx_cal_prev_button">&nbsp;</div>
              <div class="dhx_cal_next_button">&nbsp;</div>
              <div class="dhx_cal_today_button"></div>
              <div class="dhx_cal_date"></div>
              <div class="dhx_cal_tab" name="day_tab"></div>
              <div class="dhx_cal_tab" name="week_tab"></div>
              <div class="dhx_cal_tab" name="month_tab"></div>
            </div>
            <div class="dhx_cal_header"></div>
            <div class="dhx_cal_data"></div>
          </div>
      </div>
 

</div>




<app-footer></app-footer>