
<div >
  
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-6"></div>
  <div class="col-sm-2">
    <button type="button" class="btn backBtn pull-right" (click)="backToSetup()">Back</button>
  </div>
  <div class="clear"></div>
</div>  
<div class="accountpayments">
    <div class="add-relations">
      <h4>Add a New Relationship</h4>
      <table width="100%">
        <tr>
          <th>Relationship Name</th>
          <th>Associated Relationship Name</th>
          <th>Sort Order</th>
        </tr>
        <tr>
          <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
          <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
          <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
        </tr>
        <tr>
          <td colspan="3"><button type="submit" class="btn btn-primary" style="float: right;">Add a New Relationship</button></td>
        </tr>
      </table>
      
      <div class="relation-table">
        <table width="100%">
          <tr>
            <th>S No</th>
            <th>Relationship Name</th>
            <th>Associated Relationship Name</th>
            <th>Active</th>
            <th>Sort Order</th>
          </tr>
          <tr>
            <td>1</td>
            <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
            <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
            <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
            <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
          </tr>
          <tr>
            <td>2</td>
            <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
            <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
            <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
            <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
          </tr>
          <tr>
            <td>3</td>
            <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
            <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
            <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
            <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
          </tr>
          <tr>
            <td>4</td>
            <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
            <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
            <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
            <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
          </tr>
          <tr>
            <td>5</td>
            <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
            <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
            <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
            <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
          </tr>
          <tr>
          <td colspan="5"><button type="submit" class="btn btn-primary" style="float: right;">Update Relationship</button></td>
        </tr>
        </table>
      </div>
    </div>
  </div>




