<div >
  
</div>
<div class="accountpayments">
    <div class="card-reader">
      <h3>Cash Drawer Setup</h3>
      <h4>Please select the COM Port that<br>Your cash drawer is connected to</h4>
      <button type="button" class="btn btn-custom"><i class="fa fa-database" aria-hidden="true"></i><br>Test</button>
      <button type="button" class="btn btn-custom"><i class="fa fa-check" aria-hidden="true"></i><br>Save</button>
    <div class="clear">	</div>
    </div>
    <div class="card-swipe-devices1">

    <div>
      <label class="form-check-label" for="exampleCheck1">Enable Cash Drawer: <input type="checkbox" class="form-check-input" id="exampleCheck1"></label><br>
      <label class="form-check-label" for="exampleCheck1">Connected through printor: <input type="checkbox" class="form-check-input" id="exampleCheck1"></label><br>
      <label class="form-check-label" for="exampleCheck1">Port: <select>
                                    <option>COM:1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select></label><br>
      <label class="form-check-label" for="exampleCheck1">Open String:  <input type="text" class="form-check-input" id="exampleCheck1" placeholder="27,112,0,60,60"></label><br>
    </div>
  
  
    <div class="clear"></div>
    </div>

    <div class="clear"></div>
  </div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-6"></div>
  <div class="col-sm-2">
    <button type="button" class="btn backBtn pull-right" (click)="backToSetup()">Back</button>
  </div>
  <div class="clear"></div>
</div>  

