<div >
	

	<div class="staff_permission padding-20">
		<div class="row">
			<div class="col-sm-6">
				<h3 style="font-weight:600;">Edit / Add Groups</h3>
			</div>
			<div class="col-sm-6">
				<button type="button" class="btn backBtn pull-right" (click)="backToMembership();">Back</button>
			</div>
		</div>

		<div class="staff_permission1">
			<div class="staff_permission2">
				<h4 style="margin-top:0;">Permission Groups</h4>
				<div>
					<div class="col-md-6">
						<div class="form-check" style="text-align:left;">
							<label class="form-check-label" for="inlineFormCheck">Enable IP Restrictions</label>
							<input class="form-check-input" type="checkbox" id="staffPerInlineFormCheck1">
						</div>
					</div>
					<div class="col-md-6" style="text-align: right;">
						<button type="button" class="btn btn-secondary">Update</button>
					</div>
					<div class="clear"></div>
				</div>
				<div class="height-20px"></div>
				<div class="table-responsive">
					<table class="table">
						<tr>
							<th>SL No</th>
							<th>Group Name</th>
							<th>Default Launch Tab</th>
							<th>Edit Permissions</th>
							<th>Delete Group</th>
						</tr>
						<tr>
							<td>1</td>
							<td>
								<input type="text" class="form-control" id="staffPerInput1" value="Admin" placeholder="">
							</td>
							<td>
								<select class="form-control" id="staffFormControlSelect1">
									<option>Retain Selected Tab</option>
									<option selected>Home</option>
									<option>Appointments</option>
									<option>Reports</option>
									<option>Retail</option>
								</select>
							</td>
							<td>
								<h3>Edit Logins & Permissions</h3>
							</td>
							<td>
								<h3>Delete Group</h3>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>
								<input type="text" class="form-control" id="staffPerInput2" value="Corporation" placeholder="">
							</td>
							<td>
								<select class="form-control" id="staffFormControlSelect2">
									<option>Retain Selected Tab</option>
									<option selected>Home</option>
									<option>Appointments</option>
									<option>Reports</option>
									<option>Retail</option>
								</select>
							</td>
							<td>
								<h3>Edit Logins & Permissions</h3>
							</td>
							<td>
								<h3>Delete Group</h3>
							</td>
						</tr>
						<tr>
							<td>3</td>
							<td>
								<input type="text" class="form-control" id="staffPerInput3" value="Corporation Management" placeholder="">
							</td>
							<td>
								<select class="form-control" id="staffFormControlSelect3">
									<option>Retain Selected Tab</option>
									<option selected>Home</option>
									<option>Appointments</option>
									<option>Reports</option>
									<option>Retail</option>
								</select>
							</td>
							<td>
								<h3>Edit Logins & Permissions</h3>
							</td>
							<td>
								<h3>Delete Group</h3>
							</td>
						</tr>
						<tr>
							<td>4</td>
							<td>
								<input type="text" class="form-control" id="staffPerInput4" value="Inventory" placeholder="">
							</td>
							<td>
								<select class="form-control" id="staffFormControlSelect4">
									<option>Retain Selected Tab</option>
									<option selected>Home</option>
									<option>Appointments</option>
									<option>Reports</option>
									<option>Retail</option>
								</select>
							</td>
							<td>
								<h3>Edit Logins & Permissions</h3>
							</td>
							<td>
								<h3>Delete Group</h3>
							</td>
						</tr>
						<tr>
							<td>5</td>
							<td>
								<input type="text" class="form-control" id="staffPerInput5" value="Location Log In" placeholder="">
							</td>
							<td>
								<select class="form-control" id="staffFormControlSelect5">
									<option>Retain Selected Tab</option>
									<option selected>Home</option>
									<option>Appointments</option>
									<option>Reports</option>
									<option>Retail</option>
								</select>
							</td>
							<td>
								<h3>Edit Logins & Permissions</h3>
							</td>
							<td>
								<h3>Delete Group</h3>
							</td>
						</tr>
						<tr>
							<td>6</td>
							<td>
								<input type="text" class="form-control" id="staffPerInput6" value="Location Manager" placeholder="">
							</td>
							<td>
								<select class="form-control" id="staffFormControlSelect6">
									<option>Retain Selected Tab</option>
									<option selected>Home</option>
									<option>Appointments</option>
									<option>Reports</option>
									<option>Retail</option>
								</select>
							</td>
							<td>
								<h3>Edit Logins & Permissions</h3>
							</td>
							<td>
								<h3>Delete Group</h3>
							</td>
						</tr>
					</table>
				</div>
				<div class="clear"></div>
			</div>

			<div class="staff_permission3">
				<h4 style="margin-top:0;font-weight:600;">Add a Permission Group</h4>
				<div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="input" class="col-md-3 control-label">Group Name</label>
							<div class="col-md-9">
								<input type="text" class="form-control" id="staffPerInput7" placeholder="">
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-md-6">
						<button type="button" class="btn btn-secondary">Add</button>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="height-20px"></div>
			<div class="staff_permission3">
				<h4 style="margin-top:0;font-weight:600;">Copy a permission group</h4>

				<div class="form-group">
					<div class="col-md-4">
						<select class="form-control" id="staffFormControlSelect7">
							<option selected="">Select </option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="staffPerInput8" placeholder="">
					</div>
					<div class="col-md-4">
						<button type="button" class="btn btn-secondary">Add</button>
					</div>
					<div class="clear"></div>
				</div>


				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>


</div>
<!---main-div-->

