<div >
  
</div>
<div class="accountpayments">
    <div class="add-relations">
      <h3 class="h3">Referral Types</h3>
      <h4>Add a New Referral Types</h4>
    </div>
    
    <table width="100%">
      <tr>
        <th width="50%">Name</th>
        <th width="50%">Active</th>
      </tr>
      <tr>
        <td> <input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
        <td> <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
      </tr>
      <tr>
        <td colspan="3"><button type="submit" class="btn btn-primary" style="float: right;">Add New Referral </button></td>
      </tr>
    </table>
    <br>
    <table width="100%">
      <tr>
        <th>S NO</th>
        <th>Client Types</th>
        <th>Active</th>
      </tr>
      <tr>
        <td width="33.3%">1</td>
        <td width="33.3%"><input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
        <td width="33.3"><input type="checkbox" class="form-check-input" id="exampleCheck1" disabled>&nbsp;(System Reserved)</td>
      </tr>
      <tr>
        <td width="33.3%">2</td>
        <td width="33.3%"><input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
        <td width="33.3%"><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
      </tr>
      <tr>
        <td width="33.3%">2</td>
        <td width="33.3%"><input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
        <td width="33.3%"><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
      </tr>
      <tr>
        <td width="33.3%">2</td>
        <td width="33.3%"><input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
        <td width="33.3%"><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
      </tr>
      <tr>
        <td width="33.3%">2</td>
        <td width="33.3%"><input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;margin: auto;"></td>
        <td width="33.3%"><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
      </tr>
      
      
    
      

      <tr>
      <td colspan="3"><button type="submit" class="btn btn-primary" style="float: right;">Update 
</button></td>
      </tr>
    </table>
  
  </div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-6"></div>
  <div class="col-sm-2">
    <button type="button" class="btn backBtn pull-right" (click)="backToSetup()">Back</button>
  </div>
  <div class="clear"></div>
</div>  

