
<div >
  
</div>
<div class="product-revenue-cats retail-payment">  
  <table width="100%">
          <tr>
              <th colspan="2" style="text-align: left;">Add a new product categoery</th>
          </tr>
          <tr>
              <td width="50%"><input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" style="width:50%;"></td>
              <td><button type="button" class="btn btn-primary pull-left">Add</button></td>
          </tr>
  </table>
  <br><br>
  <table width="100%">
          <tr>
             <th>S No</th>
             <th>Category Name</th>
             <th>Active?</th>
          </tr>
          <tr>
              <td width="10%">1</td>
              <td  width="20%"><input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
          </tr>
          <tr>
                  <td width="10%">2</td>
                  <td  width="20%"><input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              </tr>
              <tr>
                      <td width="10%">3</td>
                      <td  width="20%"><input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
                      <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  </tr>
                  <tr>
                          <td width="10%">4</td>
                          <td  width="20%"><input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
                          <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                 </tr>
                 <tr>
                      <td width="10%">5</td>
                      <td  width="20%"><input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
                      <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  </tr>
                  <tr>
                          <td width="10%">6</td>
                          <td  width="20%"><input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
                          <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  </tr>
                  <tr>
                          <td width="10%">7</td>
                          <td  width="20%"><input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
                          <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  </tr>
                  <tr>
                          <td width="10%">8</td>
                          <td  width="20%"><input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
                          <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  </tr>
                  <tr>
                          <td width="10%">9</td>
                          <td  width="20%"><input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
                          <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  </tr>
                  <tr>
                          <td width="10%">10</td>
                          <td  width="20%"><input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
                          <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  </tr>
  </table>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-6"></div>
  <div class="col-sm-2">
    <button type="button" class="btn backBtn pull-right" (click)="backToSetup()">Back</button>
  </div>
  <div class="clear"></div>
</div>  








