
<div >
  
</div>
<div class="general-settings">
  <div class="add-relations">
  <h4>Add a New Payment Term</h4>
  <table width="100%">
    <tr>
      <th  width="30%">Name</th>
      <th width="30%">Active</th>
      <th width="30%">Sort Order</th>
    </tr>
    <tr>
      <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" style="width: 50%;"></td>
      <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
      <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" style="width: 30%;"></td>
    </tr>
  </table>
  <div class="col-md-12"><button type="submit" class="btn btn-primary" style="float: right;margin-top: 8px;margin-bottom: 10px;">Add a New Product Color</button></div>
  &nbsp;
  &nbsp;
  <table width="100%">
    <tr>
      <th  width="30%">Color</th>
      <th width="30%">Active</th>
      <th width="30%">Sort Order</th>
    </tr>
    
    <tr>
      <td><button type="button" class="btn btn-primary" style="color: #000;background: bisque;border-color: bisque;">Bisque</button></td>
      <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
      <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" style="width: 30%;"></td>
    </tr>
    
    <tr>
      <td><button type="button" class="btn btn-primary" style="color: #fff;background: black;border-color: black;">Black</button></td>
      <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
      <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" style="width: 30%;"></td>
    </tr>
    
    <tr>
      <td><button type="button" class="btn btn-primary" style="color: #fff;background: #43182f;border-color: #43182f;">Blackbery</button></td>
      <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
      <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" style="width: 30%;"></td>
    </tr>
    
    <tr>
      <td><button type="button" class="btn btn-primary" style="color: #fff;background: blue;border-color: blue;">Blue</button></td>
      <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
      <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" style="width: 30%;"></td>
    </tr>
    <tr>
      <td><button type="button" class="btn btn-primary" style="color: #fff;background: #007FFF;border-color: #007FFF;">Blue Azure</button></td>
      <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
      <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" style="width: 30%;"></td>
    </tr>
    <tr>
      <td><button type="button" class="btn btn-primary" style="color: #fff;background: #43182f;border-color: #43182f;">Blackbery</button></td>
      <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
      <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" style="width: 30%;"></td>
    </tr>
    <tr>
      <td><button type="button" class="btn btn-primary" style="color: #fff;background: #43182f;border-color: #43182f;">Blackbery</button></td>
      <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
      <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" style="width: 30%;"></td>
    </tr>
  </table>
  <div class="col-md-12"><button type="submit" class="btn btn-primary" style="float: right;margin-top: 8px;margin-bottom: 10px;">Update Payment Term</button></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-6"></div>
  <div class="col-sm-2">
    <button type="button" class="btn backBtn pull-right" (click)="backToSetup()">Back</button>
  </div>
  <div class="clear"></div>
</div>  






