<div class="tabs-services">
  <app-header></app-header>
</div>
<div>
  <div class="col-md-6">
          <div class="form-group">
                  <label for="input" class="col-md-5 control-label">Service categories</label>
                  <div class="col-md-7">
                      <select class="form-control" id="exampleFormControlSelect1">
                              <option>All Service category type </option>
                              <option>2</option>
                              <option>3</option>
                            
                      </select>
                  </div>
                  <div class="clear"></div>
              </div>
              <div class="form-check pull-left">
                      <label class="form-check-label" for="exampleCheck1">Include appointment types</label>
                      <input type="checkbox" class="form-check-input" id="exampleCheck1"><br>
                      <label class="form-check-label" for="exampleCheck1">Show inactive lession types</label>
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                   
  </div>
  <div class="col-md-6">Please contact VINDBODY if you are unsure of any settings below services categorised are integration the working of your system and typically should not be change</div>
 
<div class="clear"></div>
</div>
<br>
<h4>Add New</h4>
<table widtg="100%">
  <tr>
          <th width="20%">Service category type</th>
          <th width="20%">Service category name</th>
          <th width="20%">allow online scheduling</th>
          <th width="20%">Default capacity</th>
          <th width="20%">Tab is service category is on</th>
          <th width="20%">Color (RGB/HEX)</th>
  </tr>
  <tr>
          <td><input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
          <td><select class="form-control" id="exampleFormControlSelect1">
                  <option>Appointment</option>

          </select></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
          <td><select multiple="" class="form-control" id="exampleFormControlSelect2">
                  <option>Appointment</option>
                 
                </select></td>
         
          <td><input type="color" class="form-control" id="exampleFormControlInput1" placeholder="" value="#336699"></td>
  </tr>
<table>
      <div class="col-md-12">
              <button type="button" class="btn btn-primary pull-right" style="margin-top:10px;">Add New</button>
      </div>
<br>
<h4>Appointments</h4>
<table width="100%">
  <tbody><tr>
          <th>Service category name</th>
          <th>Active</th>
          <th>Service category type</th>
          <th>allow online scheduling</th>
          <th>Default capacity</th>
          <th>Tab is service category is on</th>
          <th>Color (RGB/HEX)</th>
  </tr>
  <tr>
          <td><input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><select class="form-control" id="exampleFormControlSelect1">
                  <option>Appointment</option>
                 
                  
          </select></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
          <td><select multiple="" class="form-control" id="exampleFormControlSelect2">
                  <option>Appointment</option>
                 
                </select></td>
         
          <td><input type="color" class="form-control" id="exampleFormControlInput1" placeholder="" value="#e66465"></td>
  </tr>
  <tr>
          <td><input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><select class="form-control" id="exampleFormControlSelect1">
                  <option>Appointment</option>
                 
                  
          </select></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
          <td><select multiple="" class="form-control" id="exampleFormControlSelect2">
                  <option>Appointment</option>
                 
                </select></td>
         
          <td><input type="color" class="form-control" id="exampleFormControlInput1" placeholder="" value="#e66465"></td>
  </tr>
  <tr>
          <td><input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><select class="form-control" id="exampleFormControlSelect1">
                  <option>Appointment</option>
                  <option>Threading Services</option>
                  <option>BossLady</option>
                  
          </select></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
          <td><select multiple="" class="form-control" id="exampleFormControlSelect2">
                  <option>Appointment</option>
                
                </select></td>
         
          <td><input type="color" class="form-control" id="exampleFormControlInput1" placeholder="" value="#e66465"></td>
  </tr>
  <tr>
          <td><input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><select class="form-control" id="exampleFormControlSelect1">
                  <option>Appointment</option>
                 
                  
          </select></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
          <td><select multiple="" class="form-control" id="exampleFormControlSelect2">
                  <option>Appointment</option>
                 
                </select></td>
         
          <td><input type="color" class="form-control" id="exampleFormControlInput1" placeholder="" value="#e66465"></td>
  </tr>
  <tr>
          <td><input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><select class="form-control" id="exampleFormControlSelect1">
                  <option>Appointment</option>
                  <option>Threading Services</option>
                  <option>BossLady</option>
                  
          </select></td>
          <td><input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"></td>
          <td><input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
          <td><select multiple="" class="form-control" id="exampleFormControlSelect2">
                  <option>Appointment</option>
                  
                </select></td>
         
          <td><input type="color" class="form-control" id="exampleFormControlInput1" placeholder="" value="#e66465"></td>
  </tr>
</tbody></table>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-6"></div>
  <div class="col-sm-2">
    <button type="button" class="btn backBtn pull-right" (click)="backToSetup()">Back</button>
  </div>
  <div class="clear"></div>
</div>  
<app-footer></app-footer>
