<div >
  
</div>
<div class="accountpayments">
    <div class="card-reader">
      <h3>Card Reader Setup</h3>
      <h4>Press F5 to refresh screen after save settings</h4>
      <button type="button" class="btn btn-custom">Save</button>
      <button type="button" class="btn btn-custom">Test Communication</button>
    <div class="clear">	</div>
    </div>
    <div class="card-swipe-devices1">

    <div>
      <button type="button" class="btn btn-custom2">Card Swipe Device ID<br> Tech Secure Reader</button>
      <button type="button" class="btn btn-custom2">Cum Port <br> None</button>
      <br>
      Card Reader Timeout in Seconds (ID Tech Secure Readers Only):&nbsp;<input type="text" name="text" placeholder="20" style="width: 50px;">
    </div>
  
  
    <div class="clear"></div>
    </div>

    <div class="clear"></div>
  </div>
  
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-6"></div>
  <div class="col-sm-2">
    <button type="button" class="btn backBtn pull-right" (click)="backToSetup()">Back</button>
  </div>
  <div class="clear"></div>
</div>  






