
<body>
  <div class="tabs-services">
    <app-header></app-header>
  </div>

  
  <div class="modal fade" id="add-membership">
      <div class="modal-dialog">
        <div class="customer-info">
          <h2>Add Membership </h2>
          <div class="customer-info-form">
            <form style="margin: 16px;">
              <div class="form-group row">
                <label for="example-text-input" class="col-md-3 col-form-label">Membership Name</label>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="memName" [(ngModel)]="addMembership.membership_name" value="" id="example-text-input">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-text-input" class="col-md-3 col-form-label">Category Name</label>
                <div class="col-md-4">
                    <select name="catagroy" class="form-control" (ngModelChange)="setSub_catagroy($event)" [(ngModel)]="addMembership.cat_id" >
                        <option *ngFor="let data1 of this.catagroyData" [ngValue]="data1.cat_id">{{data1.category_name}}</option>
                      </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="example-text-input" class="col-md-3 col-form-label">Sub Category:</label>
                <div class="col-md-4">
                    <select name="catagroy" class="form-control" (ngModelChange)="setTitleTypeClient($event)" [(ngModel)]="addMembership.sub_cat_id" >
                        <option *ngFor="let data2 of this.sub_catagroyData" [ngValue]="data2.sub_cat_id">{{data2.sub_category_name}}</option>
                      </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="example-tel-input" class="col-md-3 col-form-label">Membership Price:</label>
                <div class="col-md-4">
                  <input class="form-control" type="text" name="memPrice" [(ngModel)]="addMembership.membership_price" >
                </div>
              </div>
              <div class="form-group row">
                  <label for="example-tel-input" class="col-md-3 col-form-label">Membership Code:</label>
                  <div class="col-md-4">
                    <input class="form-control" type="text" name="memCode" [(ngModel)]="addMembership.membership_code" >
                  </div>
                </div>
                <div class="form-group row">
                    <label for="example-tel-input" class="col-md-3 col-form-label">Membership Discount:</label>
                    <div class="col-md-4">
                      <input class="form-control" type="text" name="memCode" [(ngModel)]="addMembership.membership_discount">
                    </div>
                  </div>
              <div class="form-group row">
                <label for="example-email-input" class="col-md-3 col-form-label">validityin Days</label>
                <div class="col-md-4">
                  <input class="form-control" type="text" name="memValidityDate" [(ngModel)]="addMembership.membership_validity_in_days" >
                </div>
              </div>
              <button type="submit" class="btn btn-primary" (click)="addMembershipClick()">Submit</button>
            </form>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>



  <div class="wrap">
    <div class="floatright">
      <div style="margin: 36px;">
        <button style="width: 105px;" (click)="membershipClick()" type="button" class="btn">Memberships</button>
      </div>
      <div style="margin: 36px;">
        <button style="width: 105px;" (click)="packageClick()" type="button" class="btn">Packages</button>
      </div>
      <div style="margin: 36px;">
        <button style="width: 105px;" (click)="productsClick()" type="button" class="btn">Products</button>
      </div>
      <div style="margin: 36px;">
        <button style="width: 105px;" (click)="staffClick()" type="button" class="btn">staff</button>
      </div>
    </div>
    <div class="floatleft ">
      <div *ngIf="isShowMembership">
        <div style="margin: 36px;">
          <button style="width: 200px;" data-toggle="modal" data-target="#add-membership" type="button" class="btn">Add Memberships</button>
        </div>
        <div style="margin: 36px;">
          <button style="width: 200px;" (click)="showActiveMembershipClick()" type="button" class="btn">Show Active Membership</button>
        </div>
        <div style="margin: 36px;">
          <button style="width: 200px;" (click)="showInactiveMembershipClick()" type="button" class="btn">Show Inactive Membership</button>
        </div>
      </div>
      <div *ngIf="isShowPackage"> second div</div>
    </div>
  </div>
  <div style="clear: both;">
  </div>
  <div class="clear"></div>
  
</body>
<app-footer></app-footer>