.table tr.active td {
    background-color:#123456 !important;
    color: white;
  }
  .wrap {
    width: 100%;
  }

  .floatleft {
    float: right;
    width: 85%;
    height: 600px;
  }

  .floatright {
    float: left;
    height: 600px;
    width: 15%;
  }
  
  #v-pills-tab {
    width: 100%;
    float: left;
}
 .staff-box a {
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px 20px;
    display: block;
    background: #f9f9f9;
    text-decoration: none;
    color: #6b6b6b;
    letter-spacing: 1px;
    font-size: 20px;
    text-transform: uppercase;
}
