.search-list{
    display:inline-block;
    background-color:antiquewhite;
    width:100px;
    height:70px;
    margin:10px;
}
.search-list:hover{
    cursor: pointer;
}

.no-search{
    display:inline-block;
    
    width:150px;
    height:30px;
    font-size: 20px;
    color:red;
    
}
.custmerTabInfo{
    background-color: white !important;
}