<div id="myModal" class="modal fade" role="dialog" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
          <div class="login-form">
              <div class="login_form">
                  <form name="form" (ngSubmit)="f_shedule.form.valid && onSubmit()" #f_shedule="ngForm" novalidate>
                  <div class="form-group">
                    <div class="col-md-4 col-sm-6 login_form-left">
                      <label>Employee Id</label>
                    </div>
                    <div class="col-md-8 col-sm-6 login_form-right">
                      <input type="text" maxlength="50" class="form-control" [(ngModel)]="model.email_id"  #email_id="ngModel"  name="email_id1" placeholder="Employee Id"  (ngModelChange)="errorClear()"  required>
                      <div *ngIf="f_shedule.submitted && email_id.invalid" class="alertRed">
                          <div *ngIf="email_id.errors.required" >User Name is required</div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-4 login_form-left">
                      <label>Employee Password</label>
                    </div>
                    <div class="col-md-8 col-sm-6 login_form-right">
                      <input type="password" maxlength="50" class="form-control"  [(ngModel)]="model.password" #password="ngModel"  name="password1" placeholder="Employee Password"   (ngModelChange)="errorClear()" required minlength="6">
                      <div *ngIf="f_shedule.submitted && password.invalid" class="alertRed">
                          <div *ngIf="password.errors.required">Password is required</div>
                          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                      </div>
                    </div>
                  <div class="form-group">


                      <label *ngIf="errorMessage" class="alertRed">Invalid Credentials</label>
                      </div>
                    <div class="clear"></div>
                  </div>
                  <div class="login_form-submit">
                      <div class="row">
                          <div class="col-sm-4"></div>
                          <div class="col-sm-3">
                            <button type="submit" class="btn btn-primary submit-button">Sign In</button>
                          </div>
                          <div class="col-sm-2">
                            <button data-dismiss="modal"  class="btn btn-warning"  (click)="RedirectToHome()">Cancel</button>
                          </div>
                          <div class="col-sm-3"></div>
                          </div>
                            </div>
                  <div class="sign_form">
                    <div class="col-md-6 col-sm-6 sign_form-right">
                      <!-- <a (click)="clearErrorMess()">Reset</a> -->
                    </div>
                    <div class="clear"></div>
                  </div>
                </form>
              </div>
            </div>
			</div>
		</div>
	</div>
<div class="tableShow" [style.visibility]="titleStyle">
<form #form= ngForm ngValidate (submit)="getShedule()">
  <div class="tab-schedule1">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="form-group">
        <label for="input" class="col-md-5 control-label">Start Date</label>
        <div class="col-md-7">
          <div class="input-group">
            <p-calendar [(ngModel)]="date1" [(ngModel)]="shedule.startdate" name="shedule.startdate" [showIcon]="true" (ngModelChange)="getStartDate($event)"
              dateFormat="yy-mm-dd"></p-calendar>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="form-group">
        <label for="input" class="col-md-5 control-label">End Date</label>
        <div class="col-md-7">
          <div class="input-group">
            <p-calendar [(ngModel)]="date2" [(ngModel)]="shedule.enddate" name="shedule.enddate" [showIcon]="true" (ngModelChange)="getEndDate($event)"
              dateFormat="yy-mm-dd"></p-calendar>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="form-group">
        <label for="input" class="col-md-3 control-label">Staff</label>
        <div class="col-md-9">
          <select name="shedule.emp_id" class="form-control" (ngModelChange)="setStaff($event)" [(ngModel)]="shedule.employee_id">
            <option *ngFor="let data1 of this.empData" [ngValue]="data1.employee_id">{{data1.employee_firstname}}</option>
          </select>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="form-group">
        <label for="input" class="col-md-3 control-label">Locations</label>
        <div class="col-md-9">
          <select name="shedule.branchid" class="form-control" (ngModelChange)="setBranch($event)" [(ngModel)]="shedule.branch_id">
            <option *ngFor="let data1 of this.locationData" [ngValue]="data1.branch_id">{{data1.branch_name}}</option>
          </select>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="form-group">
        <label for="input" class="col-md-10 control-label">Include Inactive Staff Members</label>
        <div class="col-md-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="generate-cs" style="padding:0;">
        <button type="submit" class="btn btn-warning float-right" value="Save">Generate</button>
        <a (click)="pdfDownload();" title="Export to PDF">
          <i class="fas fa-file-pdf"></i>
        </a>

        <a (click)="xlDownload();" title="Export to Excel">
          <i class="far fa-file-excel"></i>
        </a>
        <!-- <span title="Print this Report">
          <i class="fas fa-print"></i>
        </span> -->
      </div>
    </div>
    <div class="clear"></div>
  </div>
</form>
<div class="tableShow" [style.visibility]="titleStyle1">
  <div class="tab-schedule2">
    <h3>Schedule For {{this.selectedEmpName}} </h3>
    <div class="scrollableTable"><table width="100%" class="">
        <thead>
          <tr>
            <th>Order Date</th>
            <th>Start Time </th>
            <th>End Time</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of appointmentsData">
            <td>{{item.apptdate}}</td>
            <td>{{item.starttime}}</td>
            <td>{{item.endtime}}</td>
            <td>{{item.branch_name}}</td>
          </tr>
          <tr *ngIf="!appointmentsData || appointmentsData.length ==0">
              No Records Found
            </tr>
        </tbody>
  
      </table></div>
    


    <div class="clear"></div>
  </div>
</div>
</div>
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#f5c585"
type="ball-scale-multiple">
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
