<div >
  
</div>
<div id="myModal" class="modal fade" role="dialog" data-backdrop="static">

  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="form-group">
          <div class="col-md-4 col-sm-6 login_form-left">
            <label>User Name</label>
          </div>
          <div class="col-md-8 col-sm-6 login_form-right">
            <input type="text" class="form-control" [(ngModel)]="mailId" (ngModelChange)="errorClear()" name="some" placeholder="Employee Id">
          </div>
          <div class="clear"></div>
        </div>
        <div class="form-group">
          <div class="col-md-4 login_form-left">
            <label>Password</label>
          </div>
          <div class="col-md-8 col-sm-6 login_form-right">
            <input type="password" class="form-control" [(ngModel)]="password" (ngModelChange)="errorClear()" name="password" placeholder="Employee Password">
          </div>
          <div class="form-group">
              <label *ngIf="errorMessage" class="alertRed">Invalid Credentials</label>
              </div>
           
          <div class="clear"></div>
        </div>
        <div class="login_form-submit">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-3">
              <button type="submit" [disabled]="btnDisable" (click)="loginSubmite();"  class="btn btn-primary submit-button">Sign In</button>
            </div>
            <div class="col-sm-2">
              <button type="submit" data-dismiss="modal"  class="btn btn-warning"  (click)="RedirectToHome()">Cancel</button>
            </div>
            <div class="col-sm-3"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="tableShow" [style.visibility]="titleStyle">
<div class="tab-pane " id="manager" role="tabpanel" aria-labelledby="manager-tab">
  <div class="manager-tap">
    <div class="col-md-3 col-sm-3 col-xs-12 manager-tap-left">
      <div class="nav flex-column nav-pills rs-1-left-button" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link com-mark-info" id="v-pills-home-tab" (click)="businessSettingsClick()" data-toggle="pill" href="#business"
         role="tab" aria-controls="business" aria-selected="true">Business Settings</a>

        <a class="nav-link staff-info" id="v-pills-profile-tab"  data-toggle="pill" href="#general" role="tab"
         aria-controls="general" aria-selected="false">General Settings</a>

        <a class="nav-link client-info" id="v-pills-messages-tab"  data-toggle="pill" href="#retail"
         role="tab" aria-controls="retail" aria-selected="false">Retail Settings</a>

        <a class="nav-link mem-info" id="v-pills-settings-tab"  data-toggle="pill" href="#inventory"
         role="tab" aria-controls="inventory" aria-selected="false">Inventory Settings</a>

        <a class="nav-link package-info" id="v-pills-settings-tab" data-toggle="pill" href="#client"
         role="tab" aria-controls="client" aria-selected="false">Client Settings</a>

        <a class="nav-link promotion-info" id="v-pills-settings-tab"  data-toggle="pill" href="#cardswipe"
         role="tab" aria-controls="cardswipe" aria-selected="false">Card Swipe Settings</a>

        <a class="nav-link gift-card-info" id="v-pills-settings-tab"  data-toggle="pill" href="#payment"
         role="tab" aria-controls="v-pills-settings" aria-selected="false">Payment Method</a>

        <a class="nav-link product-info" id="v-pills-settings-tab" (click)="cashDrawerSetupClick()"  data-toggle="pill" href="#cash"
         role="tab" aria-controls="v-pills-settings" aria-selected="false">Cash Drawer Setup</a>

        <a class="nav-link inventory-info" id="v-pills-settings-tab"  data-toggle="pill" href="#receipt"
         role="tab" aria-controls="v-pills-settings" aria-selected="false">Receipt Printer</a>

        <a class="nav-link pricing-info" id="v-pills-settings-tab" data-toggle="pill" href="#software"
         role="tab" aria-controls="v-pills-settings" aria-selected="false">Software Settings</a>

        
      </div>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12 manager-tap-right">
      <div class="tab-content" id="v-pills-tabContent">
        <!--------------Business settings start-------------->
						<div class="tab-pane fade" id="business" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            
            </div>
            <!--------------General settings start-------------->
						<div class="tab-pane fade" id="general" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
										<h3>
											<a href="#" [routerLink]="" (click)="appointmentOptionsClick()">
												&nbsp;&nbsp;Appointment Options</a>
										</h3>
		
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12 staff-box">
											<h3>
												<a href="#" [routerLink]="" (click)="groupSettingsClick()" >
												&nbsp;&nbsp;Group Setting Options</a>
											</h3>
			
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 staff-box">
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                          <h3>
                            <a href="#" [routerLink]="" (click)=" memberSetupClick()" >
                            &nbsp;&nbsp;Membership Setup</a>
                          </h3>
          
                        </div>
            </div>
             <!--------------Retail settings start-------------->
						<div class="tab-pane fade" id="retail" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
										<h3>
											<a href="#" [routerLink]="" (click)="closeOutDataClick()">
												&nbsp;&nbsp;Close Out Data</a>
										</h3>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                      <h3>
                        <a href="#" [routerLink]="" (click)="paymentMethodsClick()">
                          &nbsp;&nbsp;Payment Methods</a>
                      </h3>
                    </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                      <h3>
                        <a href="#" [routerLink]="" (click)="productRevenueCategoriesClick()">
                          &nbsp;&nbsp;Product Revenue Categories</a>
                      </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                        <h3>
                          <a href="#" [routerLink]="" (click)="revenueCategoriesClick()">
                            &nbsp;&nbsp;Revenue Categories</a>
                        </h3>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-12 staff-box">
                        </div>
                      <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                          <h3>
                            <a href="#" [routerLink]="" (click)=" revenueSubCategoriesClick()" >
                            &nbsp;&nbsp;Revenue Sub Categories</a>
                          </h3>
          
                        </div>
            </div>
            <!--------------inventory settings start-------------->
						<div class="tab-pane fade" id="inventory" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                    <h3>
                      <a href="#" [routerLink]="" (click)="paymentTermsClick()">
                        &nbsp;&nbsp;Payment Terms</a>
                    </h3>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                      <h3>
                        <a href="#" [routerLink]="" (click)="productColorsClick()">
                          &nbsp;&nbsp;Product Colors</a>
                      </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                        <h3>
                          <a href="#" [routerLink]="" (click)="productSizesClick()">
                            &nbsp;&nbsp;Product Sizes</a>
                        </h3>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                          <h3>
                            <a href="#" [routerLink]="" (click)="suppliersClick()">
                              &nbsp;&nbsp;Suppliers</a>
                          </h3>
                        </div>
            </div>
            <!--------------client settings start-------------->
						<div class="tab-pane fade" id="client" role="tabpanel" aria-labelledby="v-pills-settings-tab">
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="clientAlertClick()">
                    &nbsp;&nbsp;Client Alerts</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="newRelationshipClick()">
                    &nbsp;&nbsp;Add a New Relationship</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="indexValueClick()">
                    &nbsp;&nbsp;Client Index Value</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="clientTypesClick()">
                    &nbsp;&nbsp;Client Types</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="customFieldsClick()">
                    &nbsp;&nbsp;Client Profile Custom Fields</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="clientStatusClick()">
                    &nbsp;&nbsp;Client Status</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="contactLogClick()">
                    &nbsp;&nbsp;Contact log types</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="stagesClick()">
                    &nbsp;&nbsp;Prospect Stages</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="referalClick()">
                    &nbsp;&nbsp;Referal Types</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="requiredClick()">
                    &nbsp;&nbsp;Required Field</a>
                </h3>
              </div>
            </div>
            <!--------------cardswipe start-------------->
						<div class="tab-pane fade" id="cardswipe" role="tabpanel" aria-labelledby="v-pills-settings-tab">
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="cardSwipeDeviceClick()">
                    &nbsp;&nbsp;Card Swipe Device</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="cardSwipeSettingsClick()">
                    &nbsp;&nbsp;Card Swipe Settings</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="comPortClick()">
                    &nbsp;&nbsp;com Port</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="testCommunicationsClick()">
                    &nbsp;&nbsp;Test Communications</a>
                </h3>
              </div>
            </div>
            <!--------------payment start-------------->
						<div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="v-pills-settings-tab">
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="generalClick()">
                    &nbsp;&nbsp;General</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="ipChargeClick()">
                    &nbsp;&nbsp;IP Charge</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="monetraClick()">
                    &nbsp;&nbsp;Monetra</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="paidAccessCodeClick()">
                    &nbsp;&nbsp;Paid In Out Access Code</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="pcChargeClick()">
                    &nbsp;&nbsp;PC Charge</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="positionsClick()">
                    &nbsp;&nbsp;Positions</a>
                </h3>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12 staff-box">
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="sVsClick()">
                    &nbsp;&nbsp;SVS</a>
                </h3>
              </div>

            </div>
            <!--------------Cash Drawer Setup start-------------->
						<div class="tab-pane fade" id="cash" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            </div>
            <!--------------Receipt Printer start-------------->
						<div class="tab-pane fade" id="receipt" role="tabpanel" aria-labelledby="v-pills-settings-tab">
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="additionalFooterClick()">
                    &nbsp;&nbsp;Additional Footer</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="membershipRecieptClick()">
                    &nbsp;&nbsp;Membership</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="customHeaderClick()">
                    &nbsp;&nbsp;Custom Header</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="newCustomFootClick()">
                    &nbsp;&nbsp;New Custom Footer</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="defaultFooterClick()">
                    &nbsp;&nbsp;Default Footer</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="options1Click()">
                    &nbsp;&nbsp;Options-1</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="hardwareClick()">
                    &nbsp;&nbsp;Hardware</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="options2Click()">
                    &nbsp;&nbsp;Options-2</a>
                </h3>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 staff-box">
                <h3>
                  <a href="#" [routerLink]="" (click)="releaseClick()">
                    &nbsp;&nbsp;Release</a>
                </h3>
              </div>
            </div>
             <!--------------Software Settings start-------------->
						<div class="tab-pane fade" id="software" role="tabpanel" aria-labelledby="v-pills-settings-tab">Software Settings
						</div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
</div>
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#f5c585"
type="ball-scale-multiple">
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>


