<div >
  
</div>
<div class="retail-payment">
  <h3>Add New</h3>

  <table width="100%">
          <tr>
                  <th>Payment method</th>
                  <th>Active</th>
                  <th>CashEQ?</th>
                  <th>Allow$0</th>
                  <th>Allow>$0</th>
                  <th>Allow refund?</th>
                  <th>Paynotes?</th>
                  <th>Paynotes Label</th>
          </tr>
          <tr>
                  <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
          </tr>
          
  </table>
  <button type="button" class="btn btn-primary pull-right" style="background: #7f7d7d;font-size: 18px;border-color: #7f7d7d; margin-top: 10px;">Add</button>

  <table width="100%">
          <tr>
                  <th>Payment method reserved</th>
                  <th>Active</th>
                  <th>CashEQ?</th>
                  <th>Allow$0</th>
                  <th>Allow>$0</th>
                  <th>Allow refund?</th>
                  <th>Paynotes?</th>
                  <th>Paynotes Label</th>
          </tr>
          <tr>
                  <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" placeholder="" style="width: 30%;"> Cash</td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
          </tr>
          <tr>
                  <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" placeholder="" style="width: 30%;">Credit (AMEX)</td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
          </tr>
          <tr>
                  <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" placeholder="" style="width: 30%;"> Credit (Visa/MC)</td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
          </tr>
          <tr>
                  <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" placeholder="" style="width: 30%;"> Credit (Discover)</td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
          </tr>
          <tr>
                  <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" placeholder="" style="width: 30%;">Professional product charge</td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
          </tr>
          <tr>
                  <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" placeholder="" style="width: 30%;"> Cash</td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
          </tr>
          <tr>
                  <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" placeholder="" style="width: 30%;"> Cash</td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
          </tr>
          <tr>
                  <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" placeholder="" style="width: 30%;"> Cash</td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
          </tr>
          <tr>
                  <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" placeholder="" style="width: 30%;"> Cash</td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                  <td><input type="text" maxlength="50" class="form-control" id="exampleFormControlInput1" placeholder=""></td>
          </tr>
          
  </table>
  <button type="button" class="btn btn-primary pull-left" style="background: #7f7d7d;font-size: 18px;border-color: #7f7d7d; margin-top: 10px;">Update</button>
  <button type="button" class="btn btn-primary pull-right" style="background: #f1f1f1;font-size: 18px;border-color: #7f7d7d; margin-top: 10px;color:#336699;">Setup Room Numbers</button>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-6"></div>
  <div class="col-sm-2">
    <button type="button" class="btn backBtn pull-right" (click)="backToSetup()">Back</button>
  </div>
  <div class="clear"></div>
</div>  






