<div class="tabs-services">
    <app-header></app-header>
  </div>

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-6"></div>
    <div class="col-sm-2">
      <button type="button" class="btn backBtn pull-right" (click)="backToInventory();">Back</button>
    </div>
    <div class="clear"></div>
  </div>
  <div class="packages">
								<div class="promation-1">

									<div class="col-md-6 col-sm-6 col-xs-12">
										<h3 style="font-weight:600;">Inventory Tickets - Summary</h3>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12 ">
										<div class="dropdown pull-right">
											<button aria-expanded="true" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1"
											 type="button"> Tools
												<span _ngcontent-c7="" class="caret"></span>
											</button>
											<ul aria-labelledby="dropdownMenu1" class="dropdown-menu menu-tools" id="menu-tools">
												<li>
													<a data-page="tools" href="#">Tools </a>
												</li>
												<li>
													<a data-page="cancelation" href="#">cancelation</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="clear"></div>
								</div>
								<div class="promation-2">
									<div class="col-md-4">
										<div class="form-group">
											<label for="input" class="col-md-5 control-label">Start Date</label>
											<div class="col-md-7">
												<div class="input-group">
													<input type="text" class="form-control" name="date" id="startdate" data-select="datepicker" data-locked="25/12/2014;1/1/2015">
													<span class="input-group-btn">
														<button type="button" class="btn btn-primary" data-toggle="datepicker">
															<i class="fa fa-calendar"></i>
														</button>
													</span>
												</div>
											</div>
											<div class="clear"></div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="input" class="col-md-5 control-label">End Date</label>
											<div class="col-md-7">
												<div class="input-group">
													<input type="text" class="form-control" name="date" id="enddate" data-select="datepicker" data-locked="25/12/2014;1/1/2015">
													<span class="input-group-btn">
														<button type="button" class="btn btn-primary" data-toggle="datepicker">
															<i class="fa fa-calendar"></i>
														</button>
													</span>
												</div>
											</div>
											<div class="clear"></div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label for="input" class="col-md-4 control-label">Source</label>
											<div class="col-md-8">
												<select class="form-control">
													<option value="" selected="">Select</option>
													<option value="">50% OFF Brow Perville</option>
													<option value="">Brow shaping + Lash</option>
													<option value="">Brow shaping mascara</option>
													<option value="">Glam brow</option>
													<option value="">Love Brow</option>
													<option value="">Product Samples</option>
													<option value="">Shapesglam 03</option>
													<option value="">Special offer</option>

												</select>
											</div>
											<div class="clear"></div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label for="input" class="col-md-5 control-label">Destination</label>
											<div class="col-md-7">
												<select class="form-control">
													<option selected>All Locations </option>
													<option>SBB - Culver City </option>
													<option>SBB - Culver City Kiosk </option>
													<option>SBB - Century Mall </option>
													<option>SBB - Panorama Mall </option>
													<option>SBB - Northridge (kiosk) </option>
													<option>SBB - Northridge (online) </option>
													<option>SBB - Burbank Mall </option>

												</select>
											</div>
											<div class="clear"></div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label for="input" class="col-md-5 control-label">Type</label>
											<div class="col-md-7">
												<select class="form-control">
													<option value="" selected="">Select</option>
													<option value="">50% OFF Brow Perville</option>
													<option value="">Brow shaping + Lash</option>
													<option value="">Brow shaping mascara</option>
													<option value="">Glam brow</option>
													<option value="">Love Brow</option>
													<option value="">Product Samples</option>
													<option value="">Shapesglam 03</option>
													<option value="">Special offer</option>

												</select>
											</div>
											<div class="clear"></div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="input" class="col-md-5 control-label">Status</label>
											<div class="col-md-7">
												<select class="form-control">
													<option value="" selected="">Select</option>
													<option value="">50% OFF Brow Perville</option>
													<option value="">Brow shaping + Lash</option>
													<option value="">Brow shaping mascara</option>
													<option value="">Glam brow</option>
													<option value="">Love Brow</option>
													<option value="">Product Samples</option>
													<option value="">Shapesglam 03</option>
													<option value="">Special offer</option>

												</select>
											</div>
											<div class="clear"></div>
										</div>
									</div>

									<div class="clear"></div>
								</div>


							</div>
<app-footer></app-footer>
