<div >
  
    </div>
    <div class="accountpayments">
        <div class="required-fields">
          <h3 class="h3">Required Fields</h3>
          <p>Check the boxed belw to indicate bits of ingormation ypu want to require when a client profile is created<br> or edited in your site.Please note that first and last namees are alwaya required.</p>
          
          <table width="100%">
            <tr>
              <th>Field Name</th> 
              <th>Required in Consumer Mode?</th> 
              <th>Required in Bussiness Mode?</th> 
            </tr>
            <tr>
              <td>ID:&nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
            </tr>
            <tr>
              <td>Address:</td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
            </tr>
            <tr>
              <td>City:</td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
            </tr>
            <tr>
              <td>State:</td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
            </tr>
            <tr>
              <td>Postal Code:</td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
            </tr>
            <tr>
              <td>Home Phone:</td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
            </tr>
            <tr>
              <td>Work Phone:</td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
            </tr>
            <tr>
              <td>Mobile Phone:</td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
            </tr>
            <tr>
              <td>Birthday:</td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
            </tr>
            <tr>
              <td>Middle Name:</td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
            </tr>
            <tr>
              <td>Email:</td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
            </tr>
            <tr>
              <td>Referred by:</td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
            </tr>
            <tr>
              <td>Emergency Contact Information:</td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
            </tr>
            <tr>
              <td>Gender:</td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
              <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
            </tr>
          </table>
          <div>
            <button type="submit" class="btn btn-primary" style="float: right;    margin: 10px;">Update </button>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-6"></div>
      <div class="col-sm-2">
        <button type="button" class="btn backBtn pull-right" (click)="backToSetup()">Back</button>
      </div>
      <div class="clear"></div>
    </div>  