<div >
	
	<p-growl [(value)]="msgs"></p-growl>
	<div class="staff-members padding-20">
		<div class="row">
			<div class="col-sm-6">
				<h3 style="font-weight:600;">Staff Members</h3>
			</div>
			<div class="col-sm-6">
				<button type="button" class="btn backBtn pull-right" (click)="backToMembership();">Back</button>
			</div>
			<div class="clear"></div>
		</div>

		<div class="staff-members-1">
			<div class="col-md-6 col-sm-6"></div>
			<div class="col-md-6 col-sm-6 col-xs-12 ">
					<div class="dropdown pull-right">
						<button aria-expanded="true" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1"
						 type="button"> Tools
							
						</button>
						<ul aria-labelledby="dropdownMenu1" class="dropdown-menu menu-tools" id="menu-tools">
							<li>
								<a data-page="tools" href="#">tools </a>
							</li>
							<li>
								<a data-page="cancelation" href="#"> Cancelation</a>
							</li>
						</ul>
					</div>
				</div>
			<div class="clear"></div>
		</div>
		<div class="staff-members-2">
			<div class="col-md-8 col-sm-8">
				<h4 style="font-weight:600;">Manage Your Staff by adding their contact info schedules, pay rates and logins</h4>
			</div>
			<div class="col-md-4 col-sm-4">
				<button type="button" class="btn btn-outline-success pull-right" data-toggle="modal" data-target="#exampleModal">
					<h4 class="margin0">
						<i class="fas fa-plus-circle"></i> &nbsp; Add Staff</h4>
				</button>
			</div>
			<div class="clear"></div>
			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h3 class="modal-title col-md-8 margi0" id="staffModalLabel" stryle="color:#fff;">Add a New Staff Member</h3>
							<button type="button" class="close col-md-4" data-dismiss="modal" aria-label="Close">
								<span class="pull-right" aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group row">
									<label for="inputEmail" class="col-md-3 col-form-label">First Name</label>
									<div class="col-md-9">
										<input type="text" class="form-control" id="inputEmail" name="fname" [(ngModel)]="firstname" (ngModelChange)="addExtraDisable($event)"
										 placeholder="Firest Name" ngModel required #fname="ngModel">
										<div *ngIf="fname.errors?.required && submitted" style="color:red">First Name is required </div>
									</div>
								</div>
								<div class="form-group row">
									<label for="inputEmail2" class="col-md-3 col-form-label">Last Name</label>
									<div class="col-md-9">
										<input type="text" class="form-control" id="staffInputEmail2" name="lastName" placeholder="Last Name" [(ngModel)]="lastname">
									</div>
								</div>
								<div class="form-group row">
									<label for="inputEmail3" class="col-md-3 col-form-label">Email</label>
									<div class="col-md-9">
										<input type="text" class="form-control" id="inputEmail3" name="mail" [(ngModel)]="email" (ngModelChange)="addExtraDisable($event)"
										 placeholder="Email" ngModel required #mail="ngModel">
										<div *ngIf="mail.errors?.required && submitted" style="color:red">Email is required </div>
										<!-- <input type="email" class="form-control" id="inputEmail3" name="email" placeholder="Maid Id" [(ngModel)]="email"> -->
									</div>
								</div>
								<div class="form-group row">
									<label for="inputEmail3" class="col-md-3 col-form-label">Phone Number</label>
									<div class="col-md-9">
										<input type="tel" class="form-control" id="staffInputEmail4" name="phone" [(ngModel)]="phone" placeholder="email id">
									</div>
								</div>

								<fieldset class="form-group">
									<div class="row">
										<legend class="col-form-label col-md-3 pt-0"></legend>
										<div class="col-md-10">
											<div class="form-check col-md-6">
												<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
												<label class="form-check-label" for="gridRadios1">
													Female
												</label>
											</div>
											<div class="form-check col-md-6">
												<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
												<label class="form-check-label" for="gridRadios2">
													Male
												</label>
											</div>

										</div>
									</div>
								</fieldset>


							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							<button type="button" class="btn btn-primary" [disabled]="extraDisable" (click)="saveStaffMember(); showSuccess()">Add</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="staff-members-3">
			<div class="staff-members-4">
				<div class="col-md-4">
					<button type="button" class="btn btn-primary">Search / Check - In </button>
				</div>
				<div class="col-md-3 col-md-offset-1">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<select class="form-control">
							<option>All</option>
							<option>Teachers</option>
							<option>Instructors</option>
							<option>Desk Staff</option>
							<option>Reps</option>
						</select>

						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<table width="100%">
				<tr>
					<th>Name</th>
					<th>Phone</th>
					<th>Email</th>
					<th>Appointments</th>
					<th>Schedule</th>
				</tr>
				<tr *ngFor="let item of staffData ">
					<td>{{item.employee_firstname}}{{item.employee_lastname}}</td>
					<td>{{item.phone}}</td>
					<td>{{item.email_id}}</td>
					<td>
						<a href="#">
							<i class="fas fa-plus"></i>&nbsp; Assign Appointment type</a>
					</td>
					<td>
						<a href="#">
							<i class="fas fa-plus"></i>&nbsp; Add Schedule</a>
					</td>
				</tr>
				<tr>
					<td>MIS Team</td>
					<td>(123) 456-7891</td>
					<td>name@gmail.com</td>
					<td>
						<a href="#">18 Appointment type</a>
					</td>
					<td>
						<a href="#">View /edit schedule</a>
					</td>
				</tr>
				<tr>
					<td>MIS Team</td>
					<td>(123) 456-7891</td>
					<td>name@gmail.com</td>
					<td>
						<a href="#">
							<i class="fas fa-plus"></i>&nbsp; Assign Appointment type</a>
					</td>
					<td>
						<a href="#">View /edit schedule</a>
					</td>
				</tr>
				<tr>
					<td>MIS Team</td>
					<td>(123) 456-7891</td>
					<td>name@gmail.com</td>
					<td>
						<a href="#">
							<i class="fas fa-plus"></i>&nbsp; Assign Appointment type</a>
					</td>
					<td>
						<a href="#">View /edit schedule</a>
					</td>
				</tr>
				<tr>
					<td>MIS Team</td>
					<td>(123) 456-7891</td>
					<td>name@gmail.com</td>
					<td>
						<a href="#">
							<i class="fas fa-plus"></i>&nbsp; Assign Appointment type</a>
					</td>
					<td>
						<a href="#">View /edit schedule</a>
					</td>
				</tr>
				<tr>
					<td>MIS Team</td>
					<td>(123) 456-7891</td>
					<td>name@gmail.com</td>
					<td>
						<a href="#">
							<i class="fas fa-plus"></i>&nbsp; Assign Appointment type</a>
					</td>
					<td>
						<a href="#">View /edit schedule</a>
					</td>
				</tr>
			</table>
			<br>

			<a class="btn btn-primary1" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
				<h4 class="margin0">
					<i class="fas fa-chevron-right"></i> Inactive Staff</h4>
			</a>

			<div class="collapse" id="collapseExample">
				<div class="card card-body">
					<table width="100%">
						<tr>
							<th>Name</th>
							<th>Appointments</th>
						</tr>
						<tr>
							<td>Adeline Zadourian</td>
							<td></td>
						</tr>
						<tr>
							<td>Adeline Zadourian</td>
							<td></td>
						</tr>
						<tr>
							<td>Adeline Zadourian</td>
							<td></td>
						</tr>
					</table>
				</div>
			</div>

			<div class="clear"></div>
		</div>

	</div>

</div>
<!--main div-->

