
<div class="tabs-services">
    <app-header></app-header>
  </div>
  <div class="accountpayments">
			<div class="new-bs-contract-information pb-20">
				<div class="col-md-12">
										<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Schedule a Business Day</a></li>
							<li role="presentation"><a href="#Locations-and-App-Listing" aria-controls="profile" role="tab" data-toggle="tab">Locations and App Listing</a></li>
							<li role="presentation"><a href="#Contract-Information" aria-controls="messages" role="tab" data-toggle="tab">Contract Information</a></li>
							<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Logo & Color</a></li>
							<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Tax Rates</a></li>
						</ul>

										<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="home">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
											
								<div role="tabpanel" class="tab-pane" id="Locations-and-App-Listing">
									<div class="Locations-and-App-Listing">
										<h3>Locations and App Listing</h3>
									</div>
									
								</div>
								
							   <div role="tabpanel" class="tab-pane" id="Contract-Information">
									<h3>Contact Information</h3>
									<div class="col-md-12">
										<b><label>Schedule a New Closed Day / Holiday</label></b>
										<p>Scheduling closed business days does not automaticaly cancel existing services on those days. Any existing classes / appointment must be cancelled separately prior to scheduling the closes business day i.c both inform clients at the ancellations as well as free up any related appointment unavailability and resource schedulas. Scheduling closed business days prevenis new services from being scheduled on those days.</p>
										<form>
												<div class="form-group">
													<label for="input" class="col-md-3 control-label">Start Date</label>
														<div class="col-md-9">
															<div class="input-group">
																<input type="text" class="form-control" name="date" id="date" data-select="datepicker" data-locked="25/12/2014;1/1/2015">
															<span class="input-group-btn"><button type="button" class="btn btn1 btn-primary" data-toggle="datepicker"><i class="fa fa-calendar"></i></button></span>
															</div>
														</div>
														&nbsp;&nbsp;<small> <sup>*</sup> Leave blank for single day</small>
												<div class="clear"></div>
												</div>
												<div class="form-group">
													<label for="input" class="col-md-3 control-label">End Date</label>
														<div class="col-md-9">
															<div class="input-group">
																<input type="text" class="form-control" name="date" id="date" data-select="datepicker" data-locked="25/12/2014;1/1/2015">
															<span class="input-group-btn"><button type="button" class="btn btn1 btn-primary" data-toggle="datepicker"><i class="fa fa-calendar"></i></button></span>
															</div>
														</div>
												<div class="clear"></div>
												
												</div>
												<div class="form-group">
													<label for="input" class="col-md-3 control-label">Name of closed day / holiday</label>
														<div class="col-md-9">
															<textarea class="form-control" rows="3" ></textarea>
															&nbsp;&nbsp;<small><sup>*</sup> Name will display on class and appointment schedule for staff and clients</small>
														<div class="clear"></div>
														</div>
												</div>
												&nbsp;
												<div class="form-group">
													<label for="input" class="col-md-3 control-label">Service Categories</label>
														<div class="col-md-9">
															<select multiple class="form-control">
															  <option>All / Business closed</option>
															  <option>Hair Styling packages</option>
															  <option>Makeup service packages</option>
															  <option>Members & package checkout</option>
															</select>
														<div class="clear"></div>
														</div>
												</div>
												<div class="form-group">
														<div class="col-md-12">
														<button type="button" class="btn pull-right" style="font-size:18px;margin-top:15px;">Submit</button>	
														<div class="clear"></div>
														</div>
												</div>
													
										</form>
										<b><label>Schedule closed days / Hoildays</label></b>
										<table width="100%">
											<tr>
												<th>Date</th>
												<th>Description</th>
												<th>Service catagories</th>
											</tr>
											<tr>
												<td></td>
												<td></td>
												<td></td>
											</tr>
										</table>
										
									</div>
									
							   </div>
							   
								<div role="tabpanel" class="tab-pane" id="settings">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passage..</div>
							</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-6"></div>
    <div class="col-sm-2">
      <button type="button" class="btn backBtn pull-right" (click)="backToSetup()">Back</button>
    </div>
    <div class="clear"></div>
  </div>  
<app-footer></app-footer>
