<body>
	<div>
		<div class="tab-content" id="myTabContent">
			<div id="sales" role="tabpanel" aria-labelledby="sales-tab">
				<div class="sales-tab">
					<div class="sales-tab1">
						<div class="col-md-6 col-sm-6 sales-tab-left">
							<div class="stl-title">
								<h2>Waiting -
									<span>
										<span id="demonew"></span>&nbsp;&nbsp;
										<strong>
											<span id="demo"></span>
										</strong>
									</span>
								</h2>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 sales-tab-right">
							<div class="str-title">
								<h2>Servicing</h2>
							</div>
						</div>
						<div class="test">
								<div class="sale-services">
										<div class="sale-services1">
											<div class="col-md-6 col-sm-6">
												<h4>Mosin khan</h4>
											</div>
											<div class="col-md-3 col-sm-3">
												<h4>1h 30min</h4>
											</div>
											<div class="col-md-3 col-sm-3">
												<h4 class="pull-right">(3)</h4>
											</div>
											<div class="clear"></div>
										</div>
										<div class="sale-services2">
											<div class="col-md-6">Reema khan</div>
											<div class="col-md-6">Eyebrow threading Services</div>
											<div class="clear"></div>
										</div>
			
										<div class="sale-services3">
											<div class="col-md-6">
												<h5>Next Available</h5>
												<span>In: 10:30am</span>
											</div>
											<div class="col-md-6">
												<h5>No service selected</h5>
												<span>Ext: 01:00 h</span>
											</div>
										</div>
										<div class="sale-services4">
											<button type="button" class="btn"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
											<button type="button" class="btn btn-sles"><i class="fas fa-edit"></i></button>
											<button type="button" class="btn btn-sles1"><i class="fa fa-check" aria-hidden="true"></i></button>
											<div>
												<button type="button" class="btn btn-sles2"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
												<button type="button" class="btn btn-sles2"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
											</div>
										</div>
										<div class="clear"></div>
									</div>
						</div>
						<div class="test1">
								<div class="sale-services">
										<div class="sale-services1">
											<div class="col-md-6 col-sm-6">
												<h4>Reema khan</h4>
											</div>
											<div class="col-md-3 col-sm-3">
												<h4>1h 30min</h4>
											</div>
											<div class="col-md-3 col-sm-3">
												<h4 class="pull-right">(3)</h4>
											</div>
											<div class="clear"></div>
										</div>
										<div class="sale-services2">
											<div class="col-md-6">Mosin khan</div>
											<div class="col-md-6">Eyebrow threading Services</div>
											<div class="clear"></div>
										</div>
			
										<div class="sale-services3">
											<div class="col-md-6">
												<h5>Next Available</h5>
												<span>In: 10:30am</span>
											</div>
											<div class="col-md-6">
												<h5>No service selected</h5>
												<span>Ext: 01:00 h</span>
											</div>
										</div>
										<div class="sale-services4">
											<button type="button" class="btn"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
											<button type="button" class="btn btn-sles"><i class="fas fa-edit"></i></button>
											<button type="button" class="btn btn-sles1"><i class="fa fa-check" aria-hidden="true"></i></button>
											<div>
												<button type="button" class="btn btn-sles2"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
												<button type="button" class="btn btn-sles2"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
											</div>
										</div>
										<div class="clear"></div>
									</div>
						</div>
						<div class="clear"></div>
					</div>

					<div class="sales-tab1">
						<div class="col-md-6 col-sm-6 stl-sec1"></div>
						<div class="col-md-6 col-sm-6 str-sec1">
							<div class="str-sec1-left">

							</div>
						</div>
						<div class="clear"></div>
					</div>

				</div>
				<div class="clear"></div>
			</div>
			<!--sales-tab-->

			<div class="tab-pane fade" id="appointments" role="tabpanel" aria-labelledby="appointments-tab">Mustache cliche
				tempor, williamsburg carles vegan helvetica.</div>
			<!--appointments-tab-->
			<div class="tab-pane fade" id="time" role="tabpanel" aria-labelledby="time-tab">Reprehenderit butcher retro keffiyeh
				dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid.
				Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
			</div>
			<!--Time tab end-->
			<div class="tab-pane fade" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">
				<div class="schedule-services">
					<div class="schedule-services-1">
						<div class="col-md-6 col-sm-6 ss-1-left">
						</div>
						<div class="col-md-6 col-sm-6 ss-1-right">
						</div>
					</div>

				</div>
				<div class="clear"></div>
			</div>
			<!--Schedule tab end-->
			<div class="tab-pane fade" id="reports" role="tabpanel" aria-labelledby="reports-tab">
				<div class="reports-service">
					<div class="reports-service1">
						<div class="col-md-4 col-sm-4 rs-1-left">
							<div class="rs-1-left-button">
								<a href="#">Contact Logs</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">Entry Logs</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">Cancellations</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">First Visit</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">Unpaid Visit</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">Last Visit</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">Attendance Analysis</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">Pricing Options Expirations</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">New Member</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">Visits Member</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">Attendance Without Revenue</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">Schedule At A Glance</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">Retention</a>
							</div>
							<div class="clear"></div>
						</div>
						<div class="col-md-8 col-sm-8 rs-1-right"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<!--reports tab end-->
			<div class="tab-pane fade" id="manager" role="tabpanel" aria-labelledby="manager-tab">
				<div class="manager-tap">
					<div class="col-md-3 col-sm-4 col-xs-12 manager-tap-left">
						<div class="rs-1-left-button">
							<a href="#">Staff</a>
						</div>
						<div class="rs-1-left-button">
							<a href="#">Client</a>
						</div>
						<div class="rs-1-left-button">
							<a href="#">Inventory</a>
						</div>
						<div class="rs-1-left-button">
							<a href="#">Pricing</a>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 manager-tap-right"></div>
					<div class="clear"></div>
				</div>
			</div>
			<!--reports tab end-->
			<div class="tab-pane fade" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">
				Reprehenderit butcher retro.....................0000000000
			</div>
			<!--inventory tab end-->
			<div class="tab-pane fade" id="setup" role="tabpanel" aria-labelledby="setup-tab">
				Reprehenderit butcher retro.....................00
			</div>
			<!--inventory tab end-->
		</div>
		<div class="clear"></div>
	</div>
	<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#f5c585" type="ball-scale-multiple">
		<p style="font-size: 20px; color: white">Loading...</p>
	</ngx-spinner>
</body>