<body>
	<div class="tabs-services">
			<app-header></app-header>
		<!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link" id="home-tab" data-toggle="tab" href="#sales" role="tab" aria-controls="sales" aria-selected="true">Sales</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="profile-tab" data-toggle="tab" href="#appointments" role="tab" aria-controls="appointments" aria-selected="false">Appointments</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="contact-tab" data-toggle="tab" href="#time" role="tab" aria-controls="time" aria-selected="false">Time clocks</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="contact-tab" data-toggle="tab" href="#schedule" role="tab" aria-controls="schedule" aria-selected="false">Schedule</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="contact-tab" data-toggle="tab" href="#reports" role="tab" aria-controls="reports" aria-selected="false">Reports</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="contact-tab" data-toggle="tab" href="#manager" role="tab" aria-controls="manager" (click)="redirectToManager()"
				 aria-selected="false">Manager</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="contact-tab" data-toggle="tab" href="#inventory" role="tab" aria-controls="inventory" aria-selected="false">Inventory</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="contact-tab" data-toggle="tab" href="#setup" role="tab" aria-controls="setup" aria-selected="false">Setup</a>
			</li>
		</ul> -->
		<div class="tab-content" id="myTabContent">
			<div id="sales" role="tabpanel" aria-labelledby="sales-tab">
				<div class="sales-tab">
					<div class="sales-tab1">
						<div class="col-md-6 col-sm-6 sales-tab-left">
							<div class="stl-title">
								<h2>Waiting -
									<span>
										<span id="demonew"></span>&nbsp;&nbsp;
										<strong>
											<span id="demo"></span>
										</strong>
									</span>
								</h2>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 sales-tab-right">
							<div class="str-title">
								<h2>Servicing</h2>
							</div>
						</div>
						<div class="clear"></div>
					</div>

					<div class="sales-tab1">
						<div class="col-md-6 col-sm-6 stl-sec1"></div>
						<div class="col-md-6 col-sm-6 str-sec1">
							<div class="str-sec1-left">

							</div>
						</div>
						<div class="clear"></div>
					</div>
					<app-footer></app-footer>
					<!-- <div class="sales-tab2">
						<div class="col-md-4 col-sm-5 stl-sec2">
							<div class="sales-walkin">
								Walk in
								<span class="walk-progress1"></span> 0M
								<div class="waillist1">
									<ul>
										<li>Waitlist:2</li>
										<li>Call Ahead:0</li>
										<li> Walks:1</li>
										<li>Stylish:2</li>
									</ul>
								</div>
							</div>
							<div class="sales-waitlist">
								<ul>
									<li class="sales-waitlist-1">
										<a href="#">New</a>
									</li>
									<li class="sales-waitlist-2">
										<a href="#">Ready</a>
									</li>
									<li class="sales-waitlist-3">
										<a href="#">Call Ahead</a>
									</li>
									<li class="sales-waitlist-4">
										<a href="#">Request</a>
									</li>
									<li class="sales-waitlist-5">
										<a href="#">Appt</a>
									</li>
									<li class="sales-waitlist-6">
										<a href="#">Online Ticket</a>
									</li>
								</ul>
								<div class="clear"></div>
							</div>
						</div>
						<div class="col-md-8 col-sm-7 str-sec2">
							<ul>
								<li>
									<a href="#">
										<i class="fas fa-calendar-alt"></i>
										<br>Appointments</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i>
										<br>Service Next</a>
								</li>
								<li (click)="newTicket()">
									<a>
										<i class="fas fa-tags"></i>
										<br>New Ticket</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-caret-right"></i>
										<br>Quick Sale</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-lock-open"></i>
										<br>Open Till</a>
								</li>
								<li>
									<a href="#">
										<i class="far fa-lightbulb"></i>
										<br>More</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-dollar-sign"></i>
										<br>Today's sale</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-check"></i>
										<br>Price Check</a>
								</li>
							</ul>
						</div>
						<div class="clear"></div>
					</div> -->
				</div>
				<div class="clear"></div>
			</div>
			<!--sales-tab-->

			<div class="tab-pane fade" id="appointments" role="tabpanel" aria-labelledby="appointments-tab">Mustache cliche tempor, williamsburg carles vegan helvetica.</div>
			<!--appointments-tab-->
			<div class="tab-pane fade" id="time" role="tabpanel" aria-labelledby="time-tab">Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid.
				Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
			</div>
			<!--Time tab end-->
			<div class="tab-pane fade" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">
				<div class="schedule-services">
					<div class="schedule-services-1">
						<div class="col-md-6 col-sm-6 ss-1-left">
						</div>
						<div class="col-md-6 col-sm-6 ss-1-right">
						</div>
					</div>

				</div>
				<div class="clear"></div>
			</div>
			<!--Schedule tab end-->
			<div class="tab-pane fade" id="reports" role="tabpanel" aria-labelledby="reports-tab">
				<div class="reports-service">
					<div class="reports-service1">
						<div class="col-md-4 col-sm-4 rs-1-left">
							<div class="rs-1-left-button">
								<a href="#">Contact Logs</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">Entry Logs</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">Cancellations</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">First Visit</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">Unpaid Visit</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">Last Visit</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">Attendance Analysis</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">Pricing Options Expirations</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">New Member</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">Visits Member</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">Attendance Without Revenue</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">Schedule At A Glance</a>
							</div>
							<div class="rs-1-left-button">
								<a href="#">Retention</a>
							</div>
							<div class="clear"></div>
						</div>
						<div class="col-md-8 col-sm-8 rs-1-right"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<!--reports tab end-->
			<div class="tab-pane fade" id="manager" role="tabpanel" aria-labelledby="manager-tab">
				<div class="manager-tap">
					<div class="col-md-3 col-sm-4 col-xs-12 manager-tap-left">
						<div class="rs-1-left-button">
							<a href="#">Staff</a>
						</div>
						<div class="rs-1-left-button">
							<a href="#">Client</a>
						</div>
						<div class="rs-1-left-button">
							<a href="#">Inventory</a>
						</div>
						<div class="rs-1-left-button">
							<a href="#">Pricing</a>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 manager-tap-right"></div>
					<div class="clear"></div>
				</div>
			</div>
			<!--reports tab end-->
			<div class="tab-pane fade" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">
				Reprehenderit butcher retro.....................0000000000
			</div>
			<!--inventory tab end-->
			<div class="tab-pane fade" id="setup" role="tabpanel" aria-labelledby="setup-tab">
				Reprehenderit butcher retro.....................00
			</div>
			<!--inventory tab end-->
		</div>
		<div class="clear"></div>
	</div>
	<script>
		$('tab-pane').on('click', function (e) {
			e.preventDefault()
			$(this).tab('show')
		})
	</script>
	<script>
		$(".nav-link").click(function (e) {
			$(this).addClass("active").siblings().removeClass("active");
		});
	</script>
	<script>
		$(".myTabContent").click(function (e) {
			$(this).addClass("show").siblings().removeClass("show");
		});
	</script>
	<script>
		$('#myTab li:first-child a').tab('show')
	</script>
	<!-- <script>
		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth() + 1; //January is 0!
		var yyyy = today.getFullYear();
		if (dd < 10) {
			dd = '0' + dd
		}

		if (mm < 10) {
			mm = '0' + mm
		}

		today = dd + '/' + mm + '/' + yyyy;
		document.getElementById("demonew").innerHTML = today;
		var myVar = setInterval(function () { myTimer() }, 1000);

		function myTimer() {
			var d = new Date();
			document.getElementById("demo").innerHTML = d.toLocaleTimeString();
		}
	</script> -->
</body>