
<div >
    
  </div>
	<div class="accountpayments">
			<div class="gs-general-setup">
			<div class="tabbable-panel">
				<div class="tabbable-line">
					<ul class="nav nav-tabs ">
						<li class="active">
							<a href="#tab_default_1" data-toggle="tab">General Setup & Options </a>
						</li>
						<li>
							<a href="#tab_default_2" data-toggle="tab">Appointment Options</a>
						</li>
						<li>
							<a href="#tab_default_3" data-toggle="tab">Membership Setup</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab_default_1">
							<div class="general-setup-options">
								  <div id="accordion" class="panel-group">
									<div class="panel">
									  <div class="panel-heading">
									  <h4 class="panel-title">
										<a href="#panelBodyOne" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;System Settings</a>
										</h4>
									  </div>
									  <div id="panelBodyOne" class="panel-collapse collapse">
									  <div class="panel-body">
										  <p>Energistically drive standardized communities through user friendly results. Phosfluorescently initiate superior technologies vis-a-vis low-risk high-yield solutions. Objectively facilitate clicks-and-mortar partnerships vis-a-vis superior partnerships. Continually generate long-term high-impact methodologies via wireless leadership. Holisticly seize resource maximizing solutions via user friendly outsourcing.</p>
										</div>
									  </div>
									</div>
									<div class="panel">
									  <div class="panel-heading">
									  <h4 class="panel-title">
										<a href="#panelBodyTwo" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;Client Management</a>
										</h4>
									  </div>
									  <div id="panelBodyTwo" class="panel-collapse collapse">
									  <div class="panel-body">
										  <p>Energistically drive standardized communities through user friendly results. Phosfluorescently initiate superior technologies vis-a-vis low-risk high-yield solutions. Objectively facilitate clicks-and-mortar partnerships vis-a-vis superior partnerships. Continually generate long-term high-impact methodologies via wireless leadership. Holisticly seize resource maximizing solutions via user friendly outsourcing.</p>
										</div>
									  </div>
									</div>
									<div class="panel">
									  <div class="panel-heading">
									  <h4 class="panel-title">
										<a href="#panelBodyThree" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;Consumer Mode Setting</a>
										</h4>
									  </div>
									  <div id="panelBodyThree" class="panel-collapse collapse">
									  <div class="panel-body">
										  <p>Energistically drive standardized communities through user friendly results. Phosfluorescently initiate superior technologies vis-a-vis low-risk high-yield solutions. Objectively facilitate clicks-and-mortar partnerships vis-a-vis superior partnerships. Continually generate long-term high-impact methodologies via wireless leadership. Holisticly seize resource maximizing solutions via user friendly outsourcing.</p>
										</div>
									  </div>
									</div>
									
									<div class="panel">
									  <div class="panel-heading">
									  <h4 class="panel-title">
										<a href="#Online-Store-Settings" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;Online Store Settings</a>
										</h4>
									  </div>
									  <div id="Online-Store-Settings" class="panel-collapse collapse">
									  <div class="panel-body">
											<div class="general-settings">
											 <div class="col-md-12">
											 <button type="submit" class="btn btn-primary" style="float: right;margin-top: 8px;margin-bottom: 10px;">Next</button></div>
												<table width="100%">
													<tr>
														<th colspan="3">Types</th>
													</tr>
													<tr>
														<td>01</td>
														<td>Online Reatil Store:&nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
														<td> <input type="checkbox" class="form-check-input" id="exampleCheck1" >&nbsp; Enable </td>
													</tr>
													<tr>
														<td>02</td>
														<td>Sell your own products online: &nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
														<td> <input type="checkbox" class="form-check-input" id="exampleCheck1" checked>&nbsp; Enable</td>
													</tr>
													<tr>
														<td>03</td>
														<td>E- Commerce order fulfllment location (Default ): &nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
														<td> 
															<select>
														  <option>SBB - Culver City Kiosk</option>
														  <option>2</option>
														  <option>3</option>
														  <option>4</option>
														  <option>5</option>
														</select>
														</td>
													</tr>
													</table>
											</div>
										</div>
									  </div>
									</div>
									
									<div class="panel">
									  <div class="panel-heading">
									  <h4 class="panel-title">
										<a href="#Liability-Waiver" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;Liability Waiver and  business policies</a>
										</h4>
									  </div>
									  <div id="Liability-Waiver" class="panel-collapse collapse">
									  <div class="panel-body">
										  <div class="general-settings">
										 <div class="col-md-12"><button type="submit" class="btn btn-primary" style="float: right;margin-top: 8px;margin-bottom: 10px;">Next</button></div>
											<table width="100%">
												<tr>
													<th colspan="3">Types</th>
												</tr>
												<tr>
													<td>01</td>
													<td>Liability Weaver::&nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> <input type="checkbox" class="form-check-input" id="exampleCheck1" >&nbsp; Enable </td>
												</tr>
												<tr>
													<td>03</td>
													<td>Liability Weaver Text:&nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> 
														<textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="replace the richer text editer"></textarea>
													</td>
												</tr>
												<tr>
													<td>03</td>
													<td>Cancellation Policy:&nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> 
														<textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="replace the richer text editer"></textarea>
													</td>
												</tr>
												
											
												</table>
											</div>
										</div>
									  </div>
									</div>
									
									<div class="panel">
									  <div class="panel-heading">
									  <h4 class="panel-title">
										<a href="#Retail-Settings" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;Retail Settings</a>
										</h4>
									  </div>
									  <div id="Retail-Settings" class="panel-collapse collapse">
									  <div class="panel-body">
										  <div class="general-settings">
										 <div class="col-md-12"><button type="submit" class="btn btn-primary" style="float: right;margin-top: 8px;margin-bottom: 10px;">Update</button></div>
											<table width="100%">
												<tr>
													<th colspan="3">Types</th>
												</tr>
												<tr>
													<td>01</td>
													<td>Add item - Default to:&nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> 
													<select>
														  <option>Services</option>
														  <option>2</option>
														  <option>3</option>
														  <option>4</option>
														  <option>5</option>
														</select>
													</td>
												</tr>
												<tr>
													<td>02</td>
													<td>Add Services - Degault to:&nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> 
													<select>
														  <option>All / Force Selections</option>
														  <option>2</option>
														  <option>3</option>
														  <option>4</option>
														  <option>5</option>
														</select>
													</td>
												</tr>
												<tr>
													<td>03</td>
													<td>Add Services - Degault to:&nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> 
													<select>
														  <option>All / Force Selections</option>
														  <option>2</option>
														  <option>3</option>
														  <option>4</option>
														  <option>5</option>
														</select>
													</td>
												</tr>
												
												<tr>
													<td>04</td>
													<td>Assignable gift cards - allow undesignated:&nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> <input type="checkbox" class="form-check-input" id="exampleCheck1" >&nbsp; Enable </td>
												</tr>
												<tr>
													<td>05</td>
													<td>Receipt Message billing line 1:&nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> <input type="checkbox" class="form-check-input" id="exampleCheck1" >&nbsp; Enable </td>
												</tr>
												
												</table>
											</div>
										</div>
									  </div>
									</div>
									
									<div class="panel">
									  <div class="panel-heading">
									  <h4 class="panel-title">
										<a href="#Staff-Display-Options" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;Staff Display Options</a>
										</h4>
									  </div>
									  <div id="Staff-Display-Options" class="panel-collapse collapse">
									  <div class="panel-body">
										 <div class="general-settings">
										 <div class="col-md-12"><button type="submit" class="btn btn-primary" style="float: right;margin-top: 8px;margin-bottom: 10px;">Update</button></div>
											<table width="100%">
												<tr>
													<th colspan="3">Types</th>
												</tr>
												<tr>
													<td>01</td>
													<td>Use Staff nicknames:&nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> <input type="checkbox" class="form-check-input" id="exampleCheck1" >&nbsp; Enable <span style="color: #b7b7b7;">(This option overides the below last name settings)</span></td>
												</tr>
												<tr>
													<td>02</td>
													<td>Show staff last names on schedules: &nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> <input type="checkbox" class="form-check-input" id="exampleCheck1" checked>&nbsp; Enable <span style="color: #b7b7b7;">((Unchecked - show fiest name only))</span></td>
												</tr>
												</table>
											</div>
										</div>
									  </div>
									</div>
									
									<div class="panel">
									  <div class="panel-heading">
									  <h4 class="panel-title">
										<a href="#Merchant-Account" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;Merchant Account procedding setting</a>
										</h4>
									  </div>
									  <div id="Merchant-Account" class="panel-collapse collapse">
									  <div class="panel-body">
										  <div class="general-settings">
										 <div class="col-md-12"><button type="submit" class="btn btn-primary" style="float: right;margin-top: 8px;margin-bottom: 10px;">Next</button></div>
											<table width="100%">
												<tr>
													<th colspan="3">Types</th>
												</tr>
												<tr>
													<td>01</td>
													<td>Credit Card Swiper&nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> <input type="checkbox" class="form-check-input" id="exampleCheck1" checked>&nbsp; Enable</td>
												</tr>
												<tr>
													<td>02</td>
													<td>Display No Autorization credit card Payment Methods &nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> <input type="checkbox" class="form-check-input" id="exampleCheck1" >&nbsp; Enable</td>
												</tr>
												<tr>
													<td>03</td>
													<td>Numver of days to resubmit decliend autopays &nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> <select>
														  <option>20 Days</option>
														  <option>2</option>
														  <option>3</option>
														  <option>4</option>
														  <option>5</option>
														</select>
													</td>
												</tr>
												<tr>
													<td>04</td>
													<td>Fee to be charged to convert declines to account balance &nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="0" style="width:100px;"></td>
												</tr>
												<tr>
													<td>05</td>
													<td>Smartbatching - auto Batch & Setting &nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td><select>
														  <option>By Location and By card Type</option>
														  <option>2</option>
														  <option>3</option>
														  <option>4</option>
														  <option>5</option>
														</select></td>
												</tr>
												<tr>
													<td>06</td>
													<td>Allow rewards points to expire &nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> <input type="checkbox" class="form-check-input" id="exampleCheck1" >&nbsp; Enable</td>
												</tr>
												
											</table>
											</div>
										</div>
									  </div>
									</div>
									
									<div class="panel">
									  <div class="panel-heading">
									  <h4 class="panel-title">
										<a href="#Client-Rewards" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;CLient Rewards Program Settings</a>
										</h4>
									  </div>
									  <div id="Client-Rewards" class="panel-collapse collapse">
									  <div class="panel-body">
										 <div class="general-settings">
										 <div class="col-md-12"><button type="submit" class="btn btn-primary" style="float: right;margin-top: 8px;margin-bottom: 10px;">Update
	</button></div>
											<table width="100%">
												<tr>
													<th colspan="3">Types</th>
												</tr>
												<tr>
													<td>01</td>
													<td>Value of one point &nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="0" style="width:100px;"></td>
												</tr>
												<tr>
													<td>02</td>
													<td>Minimum points to redeem &nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="0" style="width:100px;"></td>
												</tr>
												<tr>
													<td>02</td>
													<td>Require opt-in fpr rewards program &nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> <input type="checkbox" class="form-check-input" id="exampleCheck1" >&nbsp; Enable</td>
												</tr>
												<tr>
													<td>02</td>
													<td>Require opt-in fpr rewards program &nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> <input type="checkbox" class="form-check-input" id="exampleCheck1" >&nbsp; Enable</td>
												</tr>
												<tr>
													<td>03</td>
													<td>Require opt-in fpr rewards program &nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> <input type="checkbox" class="form-check-input" id="exampleCheck1" >&nbsp; Enable</td>
												</tr>
												<tr>
													<td>04</td>
													<td>Allow rewards points to expire &nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> <input type="checkbox" class="form-check-input" id="exampleCheck1" >&nbsp; Enable</td>
												</tr>
												
											</table>
											<br>
											<table width="100%">
											<tr>
												<th>S No</th>
												<th>Type</th>
												<th>Points Earned</th>
												<th>Redeem Value</th>
											</tr>
											<tr>
													<td>05</td>
													<td>Purchases (per $1.0 spent) &nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="0" style="width:100px;"></td>
													<td>$0.00</td>
											</tr>
											<tr>
													<td>06</td>
													<td>Purchases (per $1.0 spent) &nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="0" style="width:100px;"></td>
													<td>$0.00</td>
											</tr>
											<tr>
													<td>07</td>
													<td>Purchases (per $1.0 spent) &nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="0" style="width:100px;"></td>
													<td>$0.00</td>
											</tr>
											<tr>
													<td>08</td>
													<td>Purchases (per $1.0 spent) &nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></td>
													<td> <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="0" style="width:100px;"></td>
													<td>$0.00</td>
											</tr>
											</table>
											
										 </div>
										</div>
									  </div>
									</div>
									
								  </div>



								
								
								
								
								
								
								
								
								
							</div>
						</div>
						
						<!---------------------------->
						<div class="tab-pane" id="tab_default_2">
							<div class="tab-pane active" id="tab_default_1">
								<div class="general-setup-options">
									  <div id="accordion" class="panel-group">
										<div class="panel">
										  <div class="panel-heading">
										  <h4 class="panel-title">
											<a href="#Appointment-System-Plocies" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;Appointment System Plocies</a>
											</h4>
										  </div>
										  <div id="Appointment-System-Plocies" class="panel-collapse collapse">
										  <div class="panel-body">
											  <p>Energistically drive standardized communities through user friendly results. Phosfluorescently initiate superior technologies vis-a-vis low-risk high-yield solutions. Objectively facilitate clicks-and-mortar partnerships vis-a-vis superior partnerships. Continually generate long-term high-impact methodologies via wireless leadership. Holisticly seize resource maximizing solutions via user friendly outsourcing.</p>
											</div>
										  </div>
										</div>
										
										<div class="panel">
										  <div class="panel-heading">
										  <h4 class="panel-title">
											<a href="#Appointment-Schedule" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;Appointment Schedule Appearance</a>
											</h4>
										  </div>
										  <div id="Appointment-Schedule" class="panel-collapse collapse">
										  <div class="panel-body">
											  <p>Energistically drive standardized communities through user friendly results. Phosfluorescently initiate superior technologies vis-a-vis low-risk high-yield solutions. Objectively facilitate clicks-and-mortar partnerships vis-a-vis superior partnerships. Continually generate long-term high-impact methodologies via wireless leadership. Holisticly seize resource maximizing solutions via user friendly outsourcing.</p>
											</div>
										  </div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="tab-pane" id="tab_default_3">
							<p>
								Howdy, I'm in Tab 3.
							</p>
							<p>
								Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
							</p>
							<p>
								<a class="btn btn-info" href="http://j.mp/metronictheme" target="_blank">
									Learn more...
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-6"></div>
    <div class="col-sm-2">
      <button type="button" class="btn backBtn pull-right" (click)="backToSetup()">Back</button>
    </div>
    <div class="clear"></div>
  </div>
