<div >
	

	<div class="edit-clock padding-20">
		<div class="row">
			<div class="col-md-6">
				<h3 class="margin0 margin-bottom">
					<b>Edit Time Clock</b>
				</h3>
			</div>
			<div class="col-md-6">
				<button type="button" class="btn backBtn pull-right" (click)="backToMembership();">Back</button>
			</div>
			<div class="clear"></div>
		</div>
		<h4 class="margin-bottom">Staff:
			<span>
				<b style="color:#000;">Vimal Patel</b>
			</span>
		</h4>
		<div class="form-group">
			<label for="input" class="col-md-2 control-label">Location</label>
			<div class="col-md-5">
				<select class="form-control">
					<option>Appoiments</option>
					<option>Class &amp; event reservation</option>
					<option>Room reservation</option>
					<option>All</option>
				</select>
			</div>
			<div class="clear"></div>
		</div>
		<div class="col-md-8" style="padding:0;">
			<div class="form-group">
				<label for="input" class="col-md-3 control-label">Clock In</label>
				<div class="col-md-2">
					<input type="text" class="form-control" id="staffFormControlInput1" placeholder="09">
				</div>
				<div class="col-md-2">
					<input type="text" class="form-control" id="staffFormControlInput2" placeholder="18">
				</div>
				<div class="col-md-2">
					<input type="text" class="form-control" id="staffFormControlInput3" placeholder="48">
				</div>
				<div class="col-md-2">
					<input type="text" class="form-control" id="staffFormControlInput4" placeholder="48">
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="input" class="col-md-6 control-label">Appointment Date</label>
				<div class="col-md-6">
					<div class="input-group">
						<input type="text" class="form-control" name="date" id="date1" data-select="datepicker" data-locked="25/12/2014;1/1/2015">
						<span class="input-group-btn">
							<button type="button" class="btn btn-primary" data-toggle="datepicker">
								<i class="fa fa-calendar"></i>
							</button>
						</span>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div>
			<div class="col-md-8" style="padding:0;">
				<div class="form-group">
					<label for="input" class="col-md-3 control-label">Clock Out</label>
					<div class="col-md-2">
						<input type="text" class="form-control" id="staffFormControlInput5" placeholder="09">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" id="staffFormControlInput6" placeholder="18">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" id="staffFormControlInput7" placeholder="48">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" id="staffFormControlInput8" placeholder="48">
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="input" class="col-md-6 control-label">Appointment Date</label>
					<div class="col-md-6">
						<div class="input-group">
							<input type="text" class="form-control" name="date" placeholder="07/08/2018" id="date2" data-select="datepicker" data-locked="25/12/2014;1/1/2015">
							<span class="input-group-btn">
								<button type="button" class="btn btn-primary" data-toggle="datepicker">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="form-group">
			<label for="input" class="col-md-2 control-label">Notes</label>
			<div class="col-md-10">
				<textarea class="form-control" maxlength="500" id="staffFormControlTextarea1" rows="3"></textarea>
				<small id="passwordHelpBlock" class="form-text text-muted">500 character Max</small>
			</div>
			<div class="clear"></div>
		</div>

		<button type="button" class="btn btn-outline-dark1 pull-right">Save</button>


		<div class="clear"></div>
	</div>


</div>
<!--main div-->




