<div >
	

	<div class="member-ser">
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-6"></div>
			<div class="col-sm-2">
				<button type="button" class="btn backBtn pull-right" (click)="backToMembership();">Back</button>
			</div>
			<div class="clear"></div>
		</div>
		<div class="membership-setup">
			<div class="ms-set-1-1">
				<div class="col-md-8 col-sm-8 ms-set-1-left">
					<h3>Membership Setup</h3>
				</div>
				<div class="col-md-4 col-sm-4 ms-set-1-right">
					<button class="btn">
						<i class="fas fa-plus"></i>&nbsp;&nbsp; Add New</button>
				</div>
				<div class="clear"></div>
			</div>
			<div class="ms-set-2">
				<div class="col-md-6 col-sm-6 ms-set-2-left">
					<div class="form-group">
						<label for="input" class="col-md-4 control-label">Servics Category</label>
						<div class="col-md-8">
							<select class="form-control">
								<option>Select Servics </option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="membershipInlineFormCheck1">
						<label class="form-check-label" for="inlineFormCheck">
							Show Inactive
						</label>
					</div>
				</div>
				<div class="clear"></div>
			</div>

			<div class="ms-set-3">
				<div class="mi-button">Membership Information</div>
				<div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<label for="input" class="col-md-4 control-label">Type of item</label>
							<div class="col-md-8">
								<input type="text" class="form-control" id="membershipInputEmail1" placeholder="Brow + Lip Threading Package">
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="membershipInlineFormCheck2">
							<label class="form-check-label" for="inlineFormCheck">
								Active
							</label>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<a href="#">Pricing options & Membership</a>
					</div>
					<div class="clear"></div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="form-group">
						<label for="input" class="col-md-4 control-label">Sort Order / Priority</label>
						<div class="col-md-8">
							<input type="text" class="form-control" id="membershipInputEmail2" placeholder="">
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6"></div>
				<div class="clear"></div>
				<div class="ms-set-4">
					<div class="form-group">
						<label for="input" class="col-md-2 control-label">Membership Icon</label>
						<div class="col-md-10 ms-set-5">
							<ul>
								<li>
									<span>M</span>
									<input class="form-check-input" type="checkbox" value="">
								</li>
								<li>
									<span>M</span>
									<input class="form-check-input" type="checkbox" value="">
								</li>
								<li>
									<span>M</span>
									<input class="form-check-input" type="checkbox" value="">
								</li>
							</ul>
							<ul>
								<li>
									<span>M</span>
									<input class="form-check-input" type="checkbox" value="">
								</li>
								<li>
									<span>M</span>
									<input class="form-check-input" type="checkbox" value="">
								</li>
								<li>
									<span>M</span>
									<input class="form-check-input" type="checkbox" value="">
								</li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>

					<div class="clear"></div>
				</div>

			</div>

			<div class="ms-set-6">
				<div class="mi-button">Members Only discount</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="input" class="col-md-2 control-label">Members discount for retail</label>
						<div class="col-md-10">
							<input type="text" class="form-control" id="membershipInputEmail3" placeholder="0.00%">
						</div>
						<div class="clear"></div>
					</div>
					<div class="form-group">
						<label for="input" class="col-md-2 control-label">Members discount for services</label>
						<div class="col-md-10">
							<input type="text" class="form-control" id="membershipInputEmail4" placeholder="0.00%">
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="ms-set-6">
				<div class="mi-button">Members Scheduling</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="input" class="col-md-2 control-label">Online booking restricted to our members only</label>
						<div class="col-md-10">
							<textarea class="form-control" id="promotionFormControlTextarea1" rows="3"></textarea>
						</div>
						<div class="clear"></div>
					</div>
					<div class="form-group">
						<label for="input" class="col-md-2 control-label">Day of month scheduling opens for next month</label>
						<div class="col-md-10">
							<input type="text" class="form-control" id="membershipInputEmail5" placeholder="">
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="ms-set-6">
				<div class="mi-button">Other members only settings</div>
				<div class="col-md-12">
					<div class="form-check">
						<label class="form-check-label" for="defaultCheck1">
							Restrict self sign into members only
						</label>
						<input class="form-check-input" type="checkbox" value="" id="membershipCheck1">
					</div>
					<div class="form-check">
						<label class="form-check-label" for="defaultCheck1">
							Allow members to book appointment without paying
						</label>
						<input class="form-check-input" type="checkbox" value="" id="membershipCheck2">
					</div>
					<div class="form-check">
						<label class="form-check-label" for="defaultCheck1">
							Allow members to purchase non-members services
						</label>
						<input class="form-check-input" type="checkbox" value="" id="membershipCheck3">
					</div>
					<div class="form-check">
						<label class="form-check-label" for="defaultCheck1">
							Allow members to purchase non-members products
						</label>
						<input class="form-check-input" type="checkbox" value="" id="membershipCheck4">
					</div>

				</div>
				<div class="clear"></div>
			</div>

			<div class="ms-set-7">
				<button type="button" class="btn btn-secondary">Save</button>
				<button type="button" class="btn btn-secondary">Cancel</button>
				<div class="clear"></div>
			</div>

			<div class="clear"></div>
		</div>
	</div>
</div>

