
<div class="tabs-services">
  <app-header></app-header>
</div>
<div class="general-settings">
  <div class="add-relations">
  <h4>Add a New Payment Term</h4>
  <table width="100%">
    <tr>
      <th  width="30%">Name</th>
      <th width="30%">Active</th>
    </tr>
    <tr>
      <td><input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;"></td>
      <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
    </tr>
  </table>
  <div class="col-md-12"><button type="submit" class="btn btn-primary" style="float: right;margin-top: 8px;margin-bottom: 10px;">Add New Term</button></div>
  &nbsp;
  &nbsp;
  <table width="100%">
    <tr>
      <th  width="30%">Payment Term</th>
      <th width="30%">Active</th>
    </tr>
    <tr>
      <td><input type="text" class="form-control" id="exampleFormControlInput1" style="width: 50%;"></td>
      <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
    </tr>
  </table>
  <div class="col-md-12"><button type="submit" class="btn btn-primary" style="float: right;margin-top: 8px;margin-bottom: 10px;">Update Payment Term</button></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-6"></div>
  <div class="col-sm-2">
    <button type="button" class="btn backBtn pull-right" (click)="backToSetup()">Back</button>
  </div>
  <div class="clear"></div>
</div>  
<app-footer></app-footer>




