<div >
	

	<div class="ms-set-11">
		<div class="col-md-8 col-sm-8 ms-set-1-left">
			<h3 style="font-weight:600;">Edit Packages</h3>
		</div>
		<div class="col-md-4 col-sm-4 ms-set-1-right">
			<button type="button" class="btn backBtn" (click)="backToMembership();">Back</button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="package-3">
		<div class="col-md-12 col-sm-12 package-3-left">
			<div class="form-group">

				<div class="col-md-12">
					&nbsp;
					<div class="form-group">
						<label for="input" class="col-md-5 control-label">Package name</label>
						<div class="col-md-7">
							<input type="text" class="form-control" id="inputEmail3" placeholder="Castor Oil (Pack of 2)">
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="form-check">
				<label class="form-check-label" for="inlineFormCheck">Discontinued</label>
				<input class="form-check-input" type="checkbox" id="promotionInlineFormCheck1">
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="package-3">
		<h4>Add item to package</h4>
		<div class="col-md-12 col-sm-12 package-3-left">
			<div class="form-group">
				<label for="input" class="col-md-2 control-label">Type of item</label>
				<div class="col-md-10">
					<select class="form-control">
						<option>Select Type of item</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
				<div class="clear"></div>
			</div>
			<table width="100%">
				<tr>
					<th>Remove</th>
					<th>Package Item</th>
					<th>Price</th>
					<th>Discount</th>
					<th>Total</th>
				</tr>
				<tr>
					<td>
						<i class="fas fa-trash" style="color:red;"></i>
					</td>
					<td>Brow Shaping + Lashes</td>
					<td>$19.95</td>
					<td>$9.98</td>
					<td>$9.98</td>
				</tr>
				<tr>
					<td>
						<i class="fas fa-trash" style="color:red;"></i>
					</td>
					<td>Brow Shaping + Tinting</td>
					<td>$19.95</td>
					<td>$9.98</td>
					<td>$9.98</td>
				</tr>
			</table>

		</div>
		<div class="clear"></div>
	</div>
	<div class="package-3">
		<h4>Set Options</h4>
		<div class="col-md-12 col-sm-12 package-4-left">
			<div class="form-group">
				<label for="input" class="col-md-2 control-label">Discount %</label>
				<div class="col-md-10">
					<input type="text" class="form-control" id="promotionInputtype" placeholder="Discount %">
				</div>
				<div class="clear"></div>
			</div>
			<div class="form-check">
				<label class="form-check-label" for="inlineFormCheck">Sell Online</label>
				<input class="form-check-input" type="checkbox" id="promotionInlineFormCheck2">
			</div>

			<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
			 aria-controls="collapseExample">
				Advanced Options
			</button>

			<div class="collapse" id="collapseExample">
				<div class="card card-body">
					<div class="form-group">
						<label for="input" class="col-md-3 control-label">Members only</label>
						<div class="col-md-7">
							<select multiple class="form-control" id="promotionFormControlSelect1">
								<option>Unlimited Brow Membership Regular</option>
								<option>Unlimited Brow Membership Regular</option>
								<option>Unlimited Brow Membership Regular</option>
								<option>Unlimited Brow Membership Regular</option>
								<option>Unlimited Brow Membership Regular</option>
							</select>
						</div>
						<div class="clear"></div>
					</div>
					<div class="form-group">
						<label for="input" class="col-md-3 control-label">Location</label>
						<div class="col-md-7">
							<select multiple class="form-control" id="promotionFormControlSelect2">
								<option>SBB - Culver city Kiosk</option>
								<option>SBB - Culver city Kiosk</option>
								<option>SBB - Culver city Kiosk</option>

							</select>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<br>

		</div>
		<div class="clear"></div>
	</div>

	<div class="package-5">
		<div class="col-md-12 col-sm-12 package-5-left">
			<input class="btn btn-pl-51" type="reset" value="Cancel">
			<input class="btn btn-pl-5" type="submit" value="Save">
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>

</div>
<!--main div-->

