<div >
  
</div>
<div id="pages">
  <div class="manager-tab-clients page" id="tools" data-page="tools">
                  <div class="clint-tiltle">
                    <div class="col-md-8 col-xs-12 col-sm-8">
                      <h3>Cancel Group Lesson & Appointment Reservations</h3>
                      <h4>Cancellation Options</h4>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-4">
                      <div class="dropdown"  style="text-align: center;">
                        <button class="btn btn-default dropdown-toggle" type="button" id="canceldropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Tools
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu menu-tools" id="menu-tools"  aria-labelledby="canceldropdownMenu2">
                        <li><a data-page="tools" href="#">Tools </a></li>
                        <li><a data-page="cancelation" href="#">cancelation</a></li> 
                        </ul>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="clint-dates">
                    <div class="col-md-6 col-sm-6 col-xs-12" style="padding-left:0;">
                      <div class="form-group">
                      <label for="input" class="col-md-5 control-label">Start Date</label>
                      <div class="col-md-7">
                        <div class="input-group">
                          <input type="text" class="form-control" name="date" id="cancelDate1" data-select="datepicker" data-locked="25/12/2014;1/1/2015">
                          <span class="input-group-btn"><button type="button" class="btn btn-primary" data-toggle="datepicker"><i class="fa fa-calendar"></i></button></span>
                        </div>
                      </div>
                      <div class="clear"></div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="form-group">
                        <label for="input" class="col-md-6 control-label">Appointment start time</label>
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>All Times</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12" style="padding-left:0;">
                      <div class="form-group">
                      <label for="input" class="col-md-5 control-label">End Date</label>
                      <div class="col-md-7">
                        <div class="input-group">
                          <input type="text" class="form-control" name="date" id="cancelDate2" data-select="datepicker" data-locked="25/12/2014;1/1/2015">
                          <span class="input-group-btn"><button type="button" class="btn btn-primary" data-toggle="datepicker"><i class="fa fa-calendar"></i></button></span>
                        </div>
                      </div>
                      <div class="clear"></div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="form-group">
                        <label for="input" class="col-md-6 control-label">Appointment End time</label>
                        <div class="col-md-6">
                          <select class="form-control">
                            <option>All Times</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                        <div class="clear"></div>
                      </div>
                    </div>
                      <div class="form-group">
                        <label for="input" class="col-md-3 control-label">Days</label>
                        <div class="col-md-9" style="padding:0;">
                          <div class="col-md-2">Sunday: <input class="form-check-input" type="checkbox" value="" id="cancelCheck1"></div>
                          <div class="col-md-2">Monday: <input class="form-check-input" type="checkbox" value="" id="cancelCheck2"></div>
                          <div class="col-md-2">Tuesday: <input class="form-check-input" type="checkbox" value="" id="cancelCheck3"></div>
                          <div class="col-md-2">Wednesday: <input class="form-check-input" type="checkbox" value="" id="cancelCheck4"></div>
                          <div class="col-md-2">Thursday: <input class="form-check-input" type="checkbox" value="" id="cancelCheck5"></div>
                          <div class="col-md-2">Friday: <input class="form-check-input" type="checkbox" value="" id="cancelCheck6"></div>
                          <div class="col-md-2">Saturday: <input class="form-check-input" type="checkbox" value="" id="cancelCheck7"></div>
                        <div class="clear"></div>
                        <P>(Leave blank for all days)</P>
                        </div>
                        
                        <div class="clear"></div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12" style="padding:0;">
                        <div class="form-group">
                          <label for="input" class="col-md-5 control-label">Types</label>
                          <div class="col-md-7">
                            <select class="form-control">
                              <option>Appoiments</option>
                              <option>Class & event reservation</option>
                              <option>Room reservation</option>
                              <option>All</option>
                            
                            </select>
                          </div>
                          <div class="clear"></div>
                        </div>
                        <div class="form-group">
                          <label for="input" class="col-md-5 control-label">Staff</label>
                          <div class="col-md-7">
                            <select class="form-control">
                              <option>All Staff</option>
                              <option>Abrami clara</option>
                              <option>Abramiana Aveta</option>
                              <option>Admin LA</option>
                              <option>Advisor Beauty</option>
                              <option>Akter Parvin</option>
                            </select>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                      <div>
                      <div class="col-md-6 col-sm-6 col-xs-12" style="padding:0;">
                        <div class="form-group">
                          <label for="input" class="col-md-4 control-label">Location</label>
                          <div class="col-md-8">
                            <select class="form-control">
                            <option>Any Location</option>
                            <option>SBB - Culver City</option>
                            <option>SBB - Culver City Kiosk</option>
                            <option>SBB - Century Mall</option>
                            <option>SBB - Panorama Mall</option>
                            <option>SBB - Northridge (kiosk)</option>
                            <option>SBB - Northeidge (Inline)</option>
                            <option>SBB - Burbank Mail</option>
                            </select>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                      
                      <div class="col-md-6 col-sm-6 col-xs-12" style="padding:0;">
                        <div class="form-group">
                          <label for="input" class="col-md-5 control-label">Clients</label>
                          <div class="col-md-7">
                          <div class="form-check" style="text-align:left;">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="cancelRadios1" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                              All
                              </label>
                          </div>
                          <div class="form-check" style="text-align:left;">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="cancelRadios2" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                              elected
                              </label>
                          </div>
                        
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                      <div class="clear"></div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                        <div class="form-group">
                          <label for="input" class="col-md-5 control-label">Cancellation Method</label>
                          <div class="col-md-7">
                          <div class="form-check" style="text-align:left;">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="cancelRadios3" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                              Early Cancel (not charged)
                              </label>
                          </div>
                          <div class="form-check" style="text-align:left;">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="cancelRadios4" value="option1" checked>
                              <label class="form-check-label" for="exampleRadios1">
                              Late Cancel (charged)
                              </label>
                          </div>
                        
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                        <div class="form-group">
                          <label for="input" class="col-md-3 control-label">Reason for cancellation</label>
                          <div class="col-md-9">
                          <textarea class="form-control" id="cancelFormTextarea1" rows="3"></textarea>
                          </div>
                          <div class="clear"></div>
                        </div>
                        <div class="col-md-12" style=" text-align: right;">
                        <button type="button" class="btn btn-secondary btn-sm">Preview Cancellation</button>
                        <button type="button" class="btn btn-secondary btn-sm">Execute  Cancellation</button>
                        </div>
                      
                      
  
                    
                  <div class="clear"></div>	
                  </div>
                  
                </div>
                <div class="cancelation-tan hide page" id="cancelation-tan" data-page="cancelation">
                  <div class="clint-tiltle">
                    <div class="col-md-8 col-xs-12 col-sm-8">
                      
                      <h4><a href="#" style="color:#fff;">Reports</a> >> Cancellations</h4>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-4">
                      <div class="dropdown"  style="text-align: center;">
                        <button class="btn btn-default dropdown-toggle" type="button" id="cancelDropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Tools
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu menu-tools" id="menu-tools"  aria-labelledby="dropdownMenu1">
                        <li><a data-page="tools" href="#">Tools </a></li>
                        <li><a data-page="cancelation" href="#">cancelation</a></li> 
                        </ul>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div>
                  &nbsp;
                  <br>
                  <div class="col-md-4 col-sm-4 col-xs-12" style="padding-left:0;">
                      <div class="form-group">
                      <label for="input" class="col-md-5 control-label">Start Date</label>
                      <div class="col-md-7">
                        <div class="input-group">
                          <input type="text" class="form-control" name="date" id="cancelDate3" data-select="datepicker" data-locked="25/12/2014;1/1/2015">
                          <span class="input-group-btn"><button type="button" class="btn btn-primary" data-toggle="datepicker"><i class="fa fa-calendar"></i></button></span>
                        </div>
                      </div>
                      <div class="clear"></div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12" style="padding-left:0;">
                      <div class="form-group">
                      <label for="input" class="col-md-5 control-label">End Date</label>
                      <div class="col-md-7">
                        <div class="input-group">
                          <input type="text" class="form-control" name="date" id="cancelDate4" data-select="datepicker" data-locked="25/12/2014;1/1/2015">
                          <span class="input-group-btn"><button type="button" class="btn btn-primary" data-toggle="datepicker"><i class="fa fa-calendar"></i></button></span>
                        </div>
                      </div>
                      <div class="clear"></div>
                      </div>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-12" style="padding:0;">
                        <div class="form-group">
                          <div class="col-md-12">
                            <select class="form-control">
                            <option>Any Location</option>
                            <option>SBB - Culver City</option>
                            <option>SBB - Culver City Kiosk</option>
                            <option>SBB - Century Mall</option>
                            <option>SBB - Panorama Mall</option>
                            <option>SBB - Northridge (kiosk)</option>
                            <option>SBB - Northeidge (Inline)</option>
                            <option>SBB - Burbank Mail</option>
                            </select>
                          </div>
                          <div class="clear"></div>
                        </div>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-12" style="padding:0;">
                        <div class="form-group">
                          <div class="col-md-12">
                            <select class="form-control">
                            <option>All Teachers</option>
                              <option>Abrami clara</option>
                              <option>Abramiana Aveta</option>
                              <option>Admin LA</option>
                              <option>Advisor Beauty</option>
                              <option>Akter Parvin</option>
                            </select>
                          </div>
                          <div class="clear"></div>
                        </div>
                  </div>
                  <div class="clear"></div>
                  </div>
                  <div>
                  
                  <div class="col-md-4 col-sm-4 col-xs-12" style="padding:0;">
                        <div class="form-group">
                          <div class="col-md-12">
                            <select class="form-control">
                            <option>All </option>
                            <option>Early Cancels Only</option>
                            <option>Late cancels only</option>
                            
                            </select>
                          </div>
                          <div class="clear"></div>
                        </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12" style="padding:0;">
                        <div class="form-group">
                          <div class="col-md-12">
                            <select class="form-control">
                            <option>Individual records</option>
                            <option>Individual records</option>
                            <option>Group Cancellation</option>
                            
                            </select>
                          </div>
                          <div class="clear"></div>
                        </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12" style="padding:0;">
                        <div class="form-group">
                          <div class="col-md-8">
                            <select class="form-control">
                            <option>View All </option>
                            <option>Consumer Mode Only</option>
                            <option>Business Mode Only</option>
                            </select>
                          </div>
                          <button type="button" class="col-md-4 btn btn-primary">Restore</button>
                          <div class="clear"></div>
                        </div>
                    
                  </div>
                  <div class="clear"></div>
                  </div>
                  <div>
                  <div class="col-md-4 col-sm-4 col-xs-12" style="padding:0;">
                        <div class="form-group">
                        <label for="input" class="col-md-5 control-label">Clients</label>
                          <div class="col-md-7">
                          <div class="form-check" style="text-align:left;">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="cancelRadios5" value="option1" checked="">
                              <label class="form-check-label" for="exampleRadios1">
                              All
                              </label>
                          </div>
                          <div class="form-check" style="text-align:left;">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="cancelRadios6" value="option1" checked="">
                              <label class="form-check-label" for="exampleRadios1">
                              Seleted
                              </label>
                          </div>
                        
                          </div>
                          <div class="clear"></div>
                        </div>
                  </div>
                  
                  <div class="col-md-4 col-sm-4 col-xs-12" style="padding:0;">
                        <div class="form-group">
                        <label for="input" class="col-md-5 control-label">Sort By</label>
                          <div class="col-md-7">
                            <select class="form-control">
                            <option>Cancel Date</option>
                            <option>Cancel Date</option>
                            <option>Original visit date</option>
  
                            </select>
                          </div>
                          <div class="clear"></div>
                        </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12" style="padding:0;">
                  <div class="generate-cs" style="padding:0;">
                    <span class="generate-cs-button">Generate</span>
                    <span title="Export to PDF"><i class="fas fa-file-pdf"></i></span>
                    <span title="Tag Add"><i class="fas fa-tag"></i></span>
                    <span class="tag-new-icon" title="Tag New"><i class="fas fa-tag"></i></span>
                    <span title="Export to Excel"><i class="far fa-file-excel"></i></span>
                    <span title="Print this Report"><i class="fas fa-print"></i></span>
                  </div>
                  </div>
                  <div class="clear"></div>
                  </div>
                  <div class="cancellation-table">
                    <table width="100%">
                      <tr>
                        <th>Cancel Date/Time</th>
                        <th>Canceled By</th>
                        <th>Appointment Date</th>
                        <th>Time</th>
                        <th>Type</th>
                        <th>Location</th>
                        <th>Techers</th>
                        <th>Client</th>
                        <th>Method</th>
                        <th>Add-on</th>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </table>
                  </div>
                  
                  
                  
                </div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-6"></div>
  <div class="col-sm-2"><button type="button" class="btn backBtn" (click)="backToMembership();">Back</button></div>
</div>


